[2018-09-03 16:39] andygrove opened #1 "Add support for JOIN"
e.g. `SELECT ... FROM t1 JOIN t2 ON t1.a = t2.b`

[2018-09-03 16:39] andygrove opened #2 "Write test for parsing all ANSI SQL:2011 data types"
Use https://jakewheat.github.io/sql-overview/sql-2011-foundation-grammar.html as a reference

[2018-09-03 16:40] andygrove opened #3 "Set up travis build"

[2018-09-03 16:40] andygrove opened #4 "Set up code coverage"

[2018-09-03 16:40] andygrove opened #5 "Support EXISTS(subquery)"

[2018-09-03 16:41] andygrove opened #6 "Investigate use of macros for making parser code more concise"

[2018-09-03 16:51] andygrove opened #7 "Produce design for writing custom SQL parsers by extending this library"

[2018-09-03 17:49] andygrove opened #8 "Tokenizer errors should include row/column"

[2018-09-03 17:57] andygrove opened #9 "Implement INSERT"
See SELECT for inspiration

[2018-09-03 17:57] andygrove opened #10 "Implement UPDATE"
See SELECT for inspiration

[2018-09-03 17:57] andygrove opened #11 "Implement DELETE"
See SELECT for inspiration

[2018-09-08 12:22] andygrove opened #15 "CASE expressions"
https://jakewheat.github.io/sql-overview/sql-2011-foundation-grammar.html#_6_12_case_expression

[2018-09-08 12:22] andygrove opened #16 "CAST expressions"
https://jakewheat.github.io/sql-overview/sql-2011-foundation-grammar.html#_6_13_cast_specification

[2018-09-08 12:57] andygrove opened #17 "Tokenizer should be compliant with ANSI:SQL 2011"
This is a large issue that needs to be broken out into smaller issues. The current tokenizer is quite simplistic and needs to be improved to be compliant with section 5 of this specification:

https://jakewheat.github.io/sql-overview/sql-2011-foundation-grammar.html#_5_lexical_elements

[2018-09-08 12:59] andygrove opened #18 "Implement SQL writer"
It is often useful to be able to generate SQL from the AST. This opens up possibilities for SQL manipulation or translation. The write should recursively walk the AST and write SQL to a writer / output stream.

[2018-09-08 13:04] andygrove opened #19 "Add all ANSI:SQL keywords"
Update the list of keywords based on https://jakewheat.github.io/sql-overview/sql-2011-foundation-grammar.html#reserved-word

Note that the current code is very verbose adding one keyword at a time. This needs rewriting so we can just specify a vector of strings instead.

[2018-09-21 07:03] ivanceras commented on #9
I'll take this.

[2018-09-21 08:08] ivanceras commented on #9
Here's the [PR](https://github.com/andygrove/sqlparser-rs/pull/21)

[2018-10-06 15:44] andygrove commented on #18
This is partially implemented already by `impl ToString for ASTNode` but this needs to move into the dialect specific code as each dialect will write SQL differently.

[2018-10-06 15:46] andygrove commented on #19
This was completed already

[2018-10-06 15:46] #19 closed

[2018-10-06 16:23] andygrove opened #22 "Move postgres specfiic code into postgres dialect"
The recent PR for postgres support has led to postgres specific parsing and writing code creeping into the base sqlparser module. We need to move the postgres specific code into the postgres dialect module.

[2018-10-07 05:34] virattara opened #23 "Parentheses support in where clause"
The parser is currently doesn't support queries like this:
`SELECT id FROM table WHERE (name = 'abc' OR name = 'xyz') AND age = 20`

[2018-10-07 07:00] virattara commented on #23
Possible solution:
Add `Token::LParen` in `parse_prefix` which returns `ASTNode::SQLBinaryExpr` of the tokens up to `Token::RParen` and consumes the `Token::RParen`.

[2018-11-18 21:32] cswinter opened #29 "Unary minus"
Expressions with unary minus fail to parse.
Examples:
[code]

Similar queries seem to parse in MySQL: http://sqlfiddle.com/#!9/a6c585/79181

[2018-11-23 05:26] cswinter opened #30 "No prefix parser for keyword NOT"
Expressions with `NOT` don't seem to parse, returning `No prefix parser for keyword NOT` instead.
E.g. `SELECT count(0) FROM default WHERE NOT passenger_count <> 1`

[2018-11-23 16:10] cswinter opened #31 "Unexpected token at end of SELECT: Identifier("LIKE")"
[code]

[2018-12-16 20:54] #31 closed

[2019-01-10 11:20] nickolay commented on #1
(See PR #28)

[2019-01-12 22:42] andygrove commented on #30
Fixed in https://github.com/andygrove/sqlparser-rs/pull/33

[2019-01-12 22:42] #30 closed

[2019-01-12 22:42] andygrove commented on #1
PR was merged

[2019-01-12 22:42] #1 closed

[2019-01-26 17:13] khionu opened #39 "Support `proc-macro` TokenStream"
I'm currently writing a proc macro that uses SQL to generate code that works with the storage pattern in [`specs`](https://github.com/slide-rs/specs). As is, I have to call `display` on the `TokenStream`, which converts it to a raw string. This will mean I'm undoing the tokenization for this parser to re-tokenize, while it should be possible for this parser to use the `TokenStream` directly.

This

[2019-01-26 21:21] khionu opened #40 "Design suggestion: change ASTNode variants to contain concrete structs"
As is, the example below can be a necessary evil. Using separate, concrete structs allows the data to be passed as a single value.
[code]

[2019-01-30 02:18] nickolay commented on #40
FWIW, I did this to `SQLSelect` locally in [an experiment to make the AST more strongly typed](https://github.com/nickolay/sqlparser-rs/commit/48b44bad436fcd5943ec6b91ae39771146b532d8#diff-aead2c4cdd17ba10d13b08bdc4418406R147), because it lets me to use the struct both from an ASTNode (for a subquery) and from an SQLStatement (as a top-level statement).

[2019-03-06 23:04] nickolay commented on #22
Hey @andygrove, until #7 is resolved would you be OK with accepting additional dialect-specific code in the generic parser? I'm asking because @benesch has just submitted a PR to support CREATE MATERIALIZED VIEW (https://github.com/nickolay/sqlparser-rs/pull/1) against my fork of sqlparser-rs. Since I intend to get my fork merged into the mainline, I thought I'd ask now rather than later...

[2019-04-12 20:46] nickolay commented on #5
Subqueries are now supported in CTEs (`WITH`), derived tables (`FROM (SELECT ...)`), in scalar context, and with `IN`.

`EXISTS` is the only common construct I can think of that we don't implement.

[2019-04-12 20:48] nickolay commented on #29
This was implemented in 54c9ca86193d25fa29a2cd774a274bc9755dfabc

[2019-04-19 11:24] Jekshmek opened #48 "Add support for prepared queries."
Add support for prepared queries.
[code]
[code]

[2019-04-20 13:30] nickolay commented on #48
I'm guessing you want this for a library that will let the user execute SQL in two steps (prepare + run)?

A quick search indicates that the dollar sign:

* starts a `money` literal in [MSSQL](https://stackoverflow.com/a/30407243/1026)
* starts an identifier in [MySQL](https://dev.mysql.com/doc/refman/8.0/en/identifiers.html)
* can start a double-dollar quoted string in [H2](http://www.h2database.

[2019-04-22 16:51] thomas-jeepe opened #52 "Qualified wildcard to_string() is invalid"
Line in question: https://github.com/andygrove/sqlparser-rs/blob/master/src/sqlast/mod.rs#L114

Calling to_string() on a qualified wildcard returns `Qualification*` instead of `Qualification.*`. Should be as simple as changing the line to: `q.join(".") + ".*"`

[2019-04-22 21:09] nickolay commented on #52
Thanks! While this fix should probably be applied anyway, I wonder how you found this.

Do you know which dialects allow qualified wildcards "inside" expressions, like `count(foo.*)` in your PR's testcase? ANSI SQL [defines](https://jakewheat.github.io/sql-overview/sql-2011-foundation-grammar.html#_10_9_aggregate_function) `<aggregate function> ::= COUNT <left paren> <asterisk> <right paren> ...`,

[2019-04-22 22:05] thomas-jeepe commented on #52
I am not too sure exactly which databases support it, but it is a valid syntax.

[Stack overflow link recommending its use.](https://stackoverflow.com/questions/2710621/count-vs-count1-vs-countpk-which-is-better)

[2019-04-22 22:37] nickolay commented on #52
Thanks! no need to test, I was wondering if you knew one off-hand. Turns out Postgres [does support it](https://www.db-fiddle.com/f/j1ykWCPKzPpko966NUmweR/0), though I didn't find it mentioned in their docs.

[2019-04-24 10:17] Jekshmek commented on #48
Yes, I use sql in two steps (prepare + run)
Similar to the library (implemented as a compiler plugin) [rust-postgres-macros](https://github.com/sfackler/rust-postgres-macros)
it is necessary to parse the sql at the compilation stage in order to exclude a non-valid sql at runtime.
For database queries I use [rust-postgres](https://github.com/sfackler/rust-postgres) which uses `$1` as a parameter of

[2019-04-26 23:46] nickolay commented on #48
Thanks for the pull request (#55). Reading through it gave me another idea: you could implement a dialect (in your own crate) that accepts `'$'` in its `is_identifier_start`: this would lead to `$1` getting parsed as `ASTNode::SQLIdentifier`. There's some difference in parser's treatment of identifiers vs literals, but I can't think of a case where it would matter. Would this work for you?

[2019-04-27 16:22] nickolay commented on #52
The PR was merged. Thanks again!

[2019-04-27 16:22] #52 closed

[2019-04-27 16:39] #29 closed

[2019-04-27 16:49] nickolay commented on #16
We [support](https://github.com/andygrove/sqlparser-rs/blob/64b1ea7a254388e80dbd8ac196a6533c9a5a5d3b/src/sqlparser.rs#L285) parsing `CAST` itself, and have done so since before this issue was filed. Should it be closed?

[2019-04-27 17:32] andygrove commented on #16
Yes, I think so. Thanks.

[2019-04-27 17:32] #16 closed

[2019-04-27 18:13] andygrove opened #56 "Add HiveQL dialect"
HiveQL is a defacto standard for data analytics and is well supported by BI tools such as Tableau. There are also ODBC and JDBC drivers available. I am interested in HiveQL support for DataFusion.

HiveQL Reference: https://cwiki.apache.org/confluence/display/Hive/LanguageManual

[2019-04-27 18:28] andygrove opened #57 "Add convenience method for parsing simple SELECT"
It would be nice to have a `parse_select` method that returns `SQLSelect` struct rather than have to deal with `SQLQuery` and `SQLSetExpr` for simple use cases.

[2019-04-27 18:33] andygrove opened #58 "Remove copyright from headers"
The file headers are very inconsistent right now. We should probably have CI fail if files don't have ASL headers so that this code is kept in compliance with ASL and could potentially be contributed to an Apache project in the future. We should certainly remove `Copyright 2018 Grove Enterprises LLC` from all headers.

[2019-04-27 21:51] nickolay commented on #5
Updated the summary per previous comment. This should be easy to add to `parse_prefix`.

https://jakewheat.github.io/sql-overview/sql-2011-foundation-grammar.html#_8_10_exists_predicate

[2019-04-29 09:18] Jekshmek commented on #48
@andygrove  Thanks, this solution is right for me.

[code]

[2019-04-29 09:37] #48 closed

[2019-04-29 09:39] Jekshmek opened #60 "PostgreSQL RETURNING Data From Modified Rows"
Postgresql [RETURNING](https://www.postgresql.org/docs/9.5/dml-returning.html)

[code]
[code]

[2019-05-02 09:39] l1x commented on #56
Hi @andygrove, I am working on such project and I have 10.000 queries to test with. I am reading the code but not sure how to add support to HiveQL yet. If you could just do a little bit of walk through with me I could possibly add HiveQL support. Let me know what you think.

[2019-05-03 22:56] nickolay opened #62 "Support ANSI SQL datetime / interval literals"
See:
* [`<datetime literal>`](https://jakewheat.github.io/sql-overview/sql-2011-foundation-grammar.html#datetime-literal) -- `DATE 'yyyy-mm-dd'` and similar
* [`<interval literal>`](https://jakewheat.github.io/sql-overview/sql-2011-foundation-grammar.html#interval-literal) -- `INTERVAL '5' DAY`
* [`<datetime value expression>`](https://jakewheat.github.io/sql-overview/sql-2011-foundation-grammar.h

[2019-05-07 00:59] nickolay commented on #60
_This seems to be truly Postgres-specific; an optional last clause of [INSERT](https://www.postgresql.org/docs/11/sql-insert.html), [DELETE](https://www.postgresql.org/docs/11/sql-delete.html), or [UPDATE](https://www.postgresql.org/docs/11/sql-update.html). Of these we currently implement only INSERT..VALUES and DELETE._

Adding this for INSERT..VALUES and DELETE should be easy: you can reuse `pa

[2019-05-07 01:41] nickolay commented on #40
The branch I mentioned above has been merged, so SQLSelect / SQLQuery are separate structs now. Some ASTNode variants are still inlined though, but I'm not sure it makes sense to mechanically create a separate struct for each variant. Are there any variants where this is still a problem?

[2019-05-07 02:04] nickolay commented on #39
I'm not sure what "the storage pattern in `specs`" refers to, but if you manage to convert a [TokenTree](https://doc.rust-lang.org/proc_macro/enum.TokenTree.html) to a `Vec<`[`sqltokenizer::Token`](https://github.com/andygrove/sqlparser-rs/blob/037c6dab93408029cf2b550bc4cedf7c61d88ffe/src/sqltokenizer.rs#L29)`>`, you can hand it to the parser easily.

This could be a fun excercise, but I expect op

[2019-05-17 16:31] ivanceras opened #67 "SELECT query with LIMIT clause but no WHERE clause fails to parse."
This passes
[code]
But this one fails:
[code]

[2019-05-17 17:36] ivanceras commented on #67
It looks like limit keyword is interpreted as table alias since this invalid query parses.
[code]
However, adding LIMIT to the [reserved for table alias](https://github.com/andygrove/sqlparser-rs/blob/master/src/dialect/keywords.rs#L392) did NOT fix the issue.

[2019-05-18 02:47] ivanceras commented on #67
Turns out I'm using and testing an older version of the code.
Well, so much for rubberducking.  :)

[2019-05-20 23:54] thomas-jeepe opened #70 "Add FETCH and OFFSET support"
PR #69

Just added the issue if any discussions should be done in an issue.

[2019-05-27 03:42] benesch opened #81 "Precedence of NOT isn't quite right"
It took me a while to come up with this example, and it's not totally realistic, but it's probably still worth fixing. Basically, the precedence of `NOT LIKE` is mishandled, because the precedence of `NOT` is fixed to its unary operator precedence, when in it needs to vary based on whether the NOT keyword is followed by LIKE/BETWEEN/IN/<something else>.

Concretely, `SELECT a LIKE b IS NULL` parse

[2019-05-27 05:14] benesch opened #83 "Support join associativity"
Alternate join associativity can be forced with parentheses, as in:

[code]

The current parser doesn't support it, nor is the design of the SQLSelect struct particularly conducive to it.

[2019-05-29 20:19] benesch opened #84 "Thoughts on maintainership"
Hi @andygrove! 👋

First and foremost: thanks for all the work on this SQL parser! (With a big shoutout to @nickolay.) It's saved us a lot of time at @MaterializeInc, where we're using the parser in a SQL streaming dataflow engine.

I just got permission to open source our fork (https://github.com/MaterializeInc/sqlparser), which has a number of fixes on top of master. I've opened PRs for the first

[2019-05-29 23:30] nickolay commented on #84
I should note that @andygrove has already authorized me to merge PRs:

Given that most of the PRs accumulated so far merged cleanly, I felt we could wait a bit to give Andy a chance to comment. But I guess Andy's away at the moment, so I'll go ahead and merge the PRs I've already looked through (#80, #77, #76, #75, #73, #72).

Going forward, I'd prefer to work through the changes at my own pace, r

[2019-05-31 00:59] benesch commented on #84
Awesome, thanks so much, @nickolay! I'm one patchset away from being able to parse all of the SQL logic tests (https://www.sqlite.org/sqllogictest) and all the TPC-H queries (https://github.com/electrum/tpch-dbgen/tree/master/queries) in our fork—as soon as I finish that up I'll start upstreaming things again.

[2019-05-31 02:04] andygrove commented on #84
Hi @benesch! Thanks for the contributions and thanks again to @nickolay for keeping momentum going on this project. I've taken on some challenges in my day job and I have zero time right now for open source work. I'm hoping that will change in the future but I'm very happy to see a community forming around this project and I don't want to slow things down. I have invited you to join as a collabora

[2019-05-31 05:02] benesch commented on #84
Thanks very much, @andygrove. I saw you posted about the status of the WG at https://internals.rust-lang.org/t/kickstarting-a-database-wg/9696/45; I'll keep an eye on that thread to see how things go.

[2019-05-31 22:08] #67 closed

[2019-06-02 12:04] nickolay commented on #70
The PR was landed at last. Thanks again!

[2019-06-02 12:04] #70 closed

[2019-06-02 12:21] nickolay commented on #15
With the changes from #25 and #59 we support `CASE WHEN <condition> .. THEN <expr> [WHEN..THEN ...] ELSE <expr> END` and `CASE <expr> WHEN <expr> THEN ...`. We don't support "half-expressions" in WHEN like `CASE foo WHEN >1`, nor multi-value `WHEN 1,2,3`.

[2019-06-02 14:49] #81 closed

[2019-06-03 15:29] #5 closed

[2019-06-04 03:32] #10 closed

[2019-06-04 17:12] ChristopherMacGown opened #104 "Thoughts on SQL Extensions"
I've been playing around with a [trait based solution](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9baef8ac7fe93d92998bfb12d08f6cc5) to allowing dialects to carry their own extension definitions. Would something along these lines be accepted?

Obviously the example is a toy, and there would need to be some additional functions defined on the trait to be able to extract

[2019-06-06 01:23] nickolay commented on #104
Welcome! We don't have specific proposals at hand on tackling the extensibility/dialects problem. I know @andygrove intended to work on this, but he's been quite busy outside the project recently. Glad to see you thinking about this!

I thought I'd share my thoughts here, in the hope it will help clarify the proposal. I hope that @benesch will comment too, but I guess we'll need Andy's sign-off be

[2019-06-06 01:57] ChristopherMacGown commented on #104
The company I work for analyzes complex queries all written in the same dialect and it was pretty trivial to add `VACUUM` to the parser the same way that other extensions have. Long-term, though, we expect to support other dialects as well, and trying to keep up with all of the features seems non-trivial and expensive especially if the dialects and their dialect specific SQL aren't accepted by ups

[2019-06-07 23:49] nickolay commented on #104
Thanks, I think our goals are quite aligned!

I wanted to find and re-read the previous discussions on this, in which a number of good points have already been made, before sharing more ideas of my own. It will take a while, because reviewing PRs is higher priority for me.

Yep, that's an option. The question then is how to integrate the extensions in the AST, as `Parser::parse_joins` returns `Vec

[2019-06-08 02:37] #83 closed

[2019-06-09 00:56] nickolay commented on #62
Some notes on INTERVALs in SQL:

While reading through the grammar rules from the spec and the [explanation](https://crate.io/docs/sql-99/en/latest/chapters/08.html#interval-literal-s), I made this cheatsheet for myself:
[code]
where `<start field>` is one of YEAR/MONTH/DAY/HOUR/MINUTE and `<end field>` is either one of those as well, or SECOND. `<start field>` is supposed to be a unit that's not

[2019-06-09 22:18] nickolay commented on #62
Thanks to all the hard work by @benesch we now have support for DATE/TIME/INTERVAL literals, with the following caveats:

* We don't validate the `<interval qualifier>` and don't attempt to parse the `<value>` of INTERVAL/DATE/TIME/TIMESTAMP
* We [don't yet support `<interval qualifier>` after the INTERVAL type](https://github.com/andygrove/sqlparser-rs/pull/103#discussion_r291818070)
* We [don't

[2019-06-09 22:18] #62 closed

[2019-06-10 16:35] ChristopherMacGown commented on #104
I think in the case of `Parser::parse_joins`, `Join` would have to become an `enum` in order to provide the typed extensibility. Then the _dialect specific code_ could return `Option<Join>` and if it's `None`, `Parser::parse_joins` could continue with its normal logic without requiring too much copying and pasting. That's potentially a really big API change, but maybe still doable because the pack

[2019-06-11 01:35] andygrove commented on #104
Hi @ChristopherMacGown Thanks for suggesting an approach to support specific dialects. It's good to see a discussion happening on this.

It certainly is challenging making this extensible without the need to duplicate code.

To add to the use case discussion I would imagine many users just want a parser for a specific dialect they are working with (HiveQL in my case).

[2019-06-11 01:39] #58 closed

[2019-06-11 17:02] dvaldivia commented on #67
Will this fix be released soon?

[2019-06-17 00:01] benesch commented on #67
Hi @dvaldivia, I'm afraid I don't have a concrete answer for you, but there is a general sense that it's time for a new release soon ([some details](https://github.com/andygrove/sqlparser-rs/pull/105#issuecomment-500672700)). I'll launch a new issue so we have somewhere to centralize this discussion.

[2019-06-17 00:07] benesch opened #117 "Release schedule"
Extracting discussion from #105:

We have [at least one user](https://github.com/andygrove/sqlparser-rs/issues/67#issuecomment-500934474) who's requested a new release. Some options:

* Follow the Rust approach of releasing every _n_ weeks, regardless of what's ready and what's not.
* Aim for a regular cadence, but tie the release to the readiness of certain issues/features/whatever.
* Release whe

[2019-06-17 00:07] benesch commented on #67
Ok, I've filed https://github.com/andygrove/sqlparser-rs/issues/117 to continue the discussion.

[2019-06-18 00:27] nickolay commented on #117
As I said in #105 I think we should finish up the renames, then make a release. Otherwise anybody who tries out the version from crates.io will have to deal with the major changes made in the last two months and/or with the changes from #105.

Going forward I think it's up to whoever publishes the releases, since the options you listed vary in terms of time required on their part. I guess the defa

[2019-06-28 02:11] benesch commented on #117
Well, the renames are done! Is it time for a release?

[2019-06-30 18:03] davidfetter opened #125 "SQL:2016"
There's a new version of the standard, so it'd be great to catch up with it.

[2019-07-01 01:55] nickolay commented on #117
Thanks! I think it's up to @andygrove now, as he owns the package on crates.io.

[2019-07-01 02:30] andygrove commented on #117
Ack. I will create a release this week. Is this a new major version ?

On Sun, Jun 30, 2019, 7:55 PM Nickolay Ponomarev <notifications@github.com>
wrote:

[2019-07-01 23:01] dvaldivia opened #127 "Why are "double quoted" values treated as an SQLIdentifier instead of SQLValue"
Hi, For queries such as `SELECT * FROM table WHERE field="lol"` the value side of the expression `field="lol"` is being treated as a SQLIdentifier instead of a `SQLValue` is this intended behavior?  Why not treat it the same as a `sqlast::Value::SingleQuotedString`?

[2019-07-01 23:36] nickolay commented on #117
@andygrove Thanks! Yep, I think it ought to be bump to 0.4, given the amount of improvements and incompatible changes landed since April by @benesch and others.

Going forward should we always bump the minor version (i.e. 0.5, 0.6, etc.), given that pretty much every change we make isn't backwards compatible and the [Cargo book recommends avoiding breaking changes in "patch" releases](https://doc.

[2019-07-01 23:42] nickolay commented on #127
Hey! Yes, that's intended: [the standard and most DBs (except in backwards-compatible mode) treat it that way](https://en.wikibooks.org/wiki/SQL_Dialects_Reference/Data_structure_definition/Delimited_identifiers#cite_note-MySQL_ANSIMode-2). You [can override this in a custom dialect though](https://github.com/andygrove/sqlparser-rs/blob/ed76cd68f8da83c0c8429d89335057e58fc6ca17/src/dialect/mod.rs#L

[2019-07-01 23:42] #127 closed

[2019-07-02 00:13] nickolay commented on #127
Er, you can prevent `".."` being treated as an identifier via a dialect, but to make it produce a string, you'll have to hack [the tokenizer](https://github.com/andygrove/sqlparser-rs/blob/ed76cd68f8da83c0c8429d89335057e58fc6ca17/src/tokenizer.rs#L314)... Do you need this for some reason? I thought using `".."` for strings in SQL was pretty rare nowadays.

[2019-07-02 00:22] andygrove commented on #117
0.4 is released :tada:

[2019-07-02 00:49] nickolay commented on #125
Hey, thanks for taking an interest in the project!

I guess (@andygrove might correct me) the reason the stated goal of this project is to be compatible with ANSI SQL 2011 is because that's the latest version of the standard with [its grammar available online in HTML format](https://jakewheat.github.io/sql-overview/sql-2011-foundation-grammar.html).

I don't think we've implemented all of SQL-92 y

[2019-07-02 18:55] benesch commented on #125
Agreed. The SQL standard is massive, and plenty of it isn't even supported by any actual databases. The only sane way to make progress is to prioritize the specific features that folks are interested in.

I'd be in favor of updating the wording in the README a bit, though. Perhaps something like:

Let me whip up a PR!

[2019-07-02 19:47] benesch commented on #117
Yep, that makes sense to me. It would be an unusual situation indeed that resulted in a patch release. The only thing I can envision is a bug fix to the parser that doesn't require any changes to the AST.

Going to close this out, since I think the strategy of "release whenever things pile up" will work alright for the time being.

[2019-07-02 19:47] #117 closed

[2019-07-03 14:39] benesch commented on #125
FWIW, I've submitted a PR to get the SQL:2016 grammar online: https://github.com/JakeWheat/sql-overview/pull/2. Unfortunately @JakeWheat hasn't been active lately, but hopefully it'll get deployed eventually.

[2019-07-06 16:02] benesch commented on #125
Thanks to @JakeWheat, we've now got the grammar online! https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html

[2019-07-06 16:03] benesch commented on #84
Well, the database working group doesn't seem to be going anywhere fast, and the process we've got in place here seems to be working well in the meantime, so I'm going to close this out.

[2019-07-06 16:03] #84 closed

[2019-07-24 03:41] AbrarNitk opened #132 "Add Support for Postgres JSON prepared query"
I am using sqlparser 0.4.0 with rust version 1.36.0
Query:
`
SELECT "emp"."id", "emp"."data" FROM "emp" WHERE id = $1 AND data->>'id'=$2 -- binds: ["emp_name", "123"]
`

Error:
`ParserError("Expected an expression, found: >")`

Dialect Used
`impl Dialect for MyPostgresSqlDialect {
    fn is_identifier_start(&self, ch: char) -> bool {
        (ch >= 'a' && ch <= 'z')
            || (ch >= 'A' && ch

[2019-07-24 03:49] AbrarNitk opened #133 "Add support for LIMIT prepared query"
Hi, I am using sqlparser 0.4.0 and rust version 1.36.0

Sql Query
`
SELECT "emp"."id" FROM "emp" WHERE "emp"."id" = $1 LIMIT $2 -- binds: [123, 5]
`

Parse error
`
ParserError("Expected literal int, found: $2"
`

Used Dialect
`
impl Dialect for AckoPostgresSqlDialect {
    fn is_identifier_start(&self, ch: char) -> bool {
        (ch >= 'a' && ch <= 'z')
            || (ch >= 'A' && ch <= 'Z')

[2019-10-07 21:20] apparebit opened #140 "Parser mishandles quoted column names"
The tokenizer nicely handles quoted column names, independent of dialect, e.g., `[column name]`, `"column name"`, and `` `column name` `` are all correctly recognized and the unquoted identifier `column name` is stored in the `value` slot of the corresponding `Word`. But then the parser's [`as_ident()`](https://github.com/andygrove/sqlparser-rs/blob/c7021ed145c59f9684bac6a14d63ddb66ec4aa17/src/par

[2019-10-07 22:19] nickolay commented on #140
That's because `Ident` is currently simply a `String`, which ought to serialize back into valid SQL; ideally close to the original.

If `Ident` stored an unquoted string, it would also need to store the `quote_style` (like `Word` does) or to have some logic that decides when to quote idents during serialization... Alternatively there could be a helper that allows the consumer to get the "value" of

[2019-10-08 16:42] apparebit commented on #140
That's really too bad because it has the parser undo work already performed by the tokenizer. Wouldn't it make more sense to check during pretty-printing whether an identifier needs quoting and then apply the correct quotes for the given SQL dialect? Otherwise, any planner would have to check identifiers for quote characters and strip them off, which means duplicating functionality and doing so in

[2019-10-08 22:18] nickolay commented on #140
Not sure: for example, according to https://lerner.co.il/2013/11/30/quoting-postgresql/ `CREATE TABLE "People"` and `CREATE TABLE People` are not equivalent in postgres. And the "correct" quotes usually depend not only on the dialect, but on the options in effect for the session... it's a mess as usual.

Storing the `quote_style` in the AST seems easier to implement and more likely to be correct,

[2019-10-09 15:39] apparebit commented on #140
You mean replacing `type Ident` with a `struct Ident`, which mirrors `Word`'s `value` and `quote_style` fields, right? I like that idea a lot because it preserves already derived information yet allows for dialect-specific handling. If so, I'll try to make that change:

  * Change the definition of `Ident` to become a struct;
  * Turn `Word::as_ident()` into `to_ident()`, which copies the `value`

[2019-10-09 16:26] nickolay commented on #140
Yep, I think that should work. Thanks!

[2019-10-10 13:50] benesch commented on #125
Closing this out because, as @nickolay mentioned, I don't think it's actionable, and the policy is now more fully spelled out in the README. Please feel free to open PRs/issues for any SQL:2016 features that you need.

[2019-10-10 13:50] #125 closed

[2019-10-20 04:20] #140 closed

[2019-11-21 23:41] mitar commented on #18
I second that a lot! I would love to have a way to translate SQL queries.

[2019-11-21 23:50] mitar opened #144 "Support case sensitive parsing"
So by standard SQL queries are not case sensitive. But for me, this is problematic because I like to encode metadata information into database structures (like table names, column names, etc.) so that database introspection can work well. But then this means I have to quote all names all the time in all SQL queries.

So I would love if this package could support case sensitive parsing (and unparsi

[2019-11-21 23:59] benesch commented on #144
This package already preserves the case of identifiers. Do you have a specific example of something that doesn’t work for you?

[2019-11-22 00:03] mitar opened #145 "Add support for parsing placeholders"
Maybe I missed something, but I think placeholders are not yet supported and cannot be parsed. I would like to ask if this could be added.

Ideally, with few extensions than a regular parser:
* In regular SQL queries, only SELECT, INSERT, UPDATE queries can have placeholders. But for my use case it would be great if also other statements can have them, like `CREATE VIEW` which takes a query, and t

[2019-11-22 00:07] mitar commented on #144
Yes, but with other issues like #17 I would like just to make sure that this is a conscious decision to support and not something which disappears.

[2019-11-22 00:10] benesch commented on #145
In the meantime you can apply this patch:
https://github.com/MaterializeInc/sqlparser/pull/17/files

I’ll look into getting it merged here. It works as you suggest with regards
to CREATE VIEW et al supporting expressions with placeholders. It does not
presently accept named placeholders, however.

On Thu, Nov 21, 2019 at 7:03 PM Mitar <notifications@github.com> wrote:

[2019-11-22 00:13] benesch commented on #144
It absolutely is intentional! Normalization is intentionally left to the
client. If we ever fold in normalization support, we’ll retain a dialect
that performs no normalization (the generic dialect).

On Thu, Nov 21, 2019 at 7:07 PM Mitar <notifications@github.com> wrote:

[2019-11-22 00:13] #144 closed

[2019-11-22 00:25] mitar commented on #145
Yes, something like `$foobar` would be awesome to have for placeholders. (Then mapping to/from GraphQL can be made much smoother.)

[2019-11-29 06:15] #104 closed

[2019-12-10 15:59] vertexclique opened #146 "Example to how to extend the current implementation with custom keywords and inner structs"
I want to use this crate as a dependency to implement my own keywords and operations. It would be really nice to see a concrete example.

[2020-01-01 03:34] ivanceras commented on #18
I'm thinking of initial design on how to implement a sql writer for each specific dialect.
I believe the easy way to do it, is to make a trait for each of this specific dialect which also leverage
a call to the `ToString` to the AST when it is not a dialect specific syntax. Also, we can add a little functionality to extract out all the values into a `Vec<Value>` to be later used in parameterized q

[2020-01-01 03:38] ivanceras opened #147 "Add AddColumn in AlterTableOperation."
The AlterTable statements seems to lack support for adding a new column to an existing table.

[code]

[2020-01-01 06:26] ivanceras commented on #147
@andygrove you can add me as a collaborator/maintainer of the project. I can help with code reviews and releases.

[2020-01-02 18:26] alexkyllo opened #149 "SELECT TOP N syntax (i/o LIMIT) for MSSQL"
This is minor but seemed like potentially a good first issue, and the README mentioned you were interested in PRs to add support for RDBMS like MS SQL Server:

SQL Server syntax for limiting the result set is `SELECT TOP N ...` or `SELECT TOP(N) ...` optionally followed by `PERCENT` and/or `WITH TIES` -- see [Microsoft Docs link](https://docs.microsoft.com/en-us/sql/t-sql/queries/top-transact-sql?

[2020-01-02 20:43] benesch commented on #149
Please do! That sounds like a great first issue to tackle.

[2020-01-13 15:57] #149 closed

[2020-01-25 21:05] jmzagorski commented on #18
I think this would be great if i understand the goal. I inherited a mess of sql statements for a warehouse and my goal is to create a program to format all queries to one standard, using your lib as the parser. Right now I find myself writing a lot of the same sql as you did in the `fmt::Display` implementations so I can format a few expression/identifiers based on configurations. Most of my other

[2020-02-11 21:44] FreeMasen opened #151 "Unexpected keyword"
I am running into a few errors trying to parse MsSql.

The following sql
[code]

reports the following error:

[code]

[2020-02-11 21:57] benesch commented on #151
No one has implemented support for that statement is all. PRs welcome!

[2020-03-02 07:08] budleigh opened #152 "CREATE INDEX?"
Not sure if I'm misusing things or misunderstood (it does look like index operations of any kind are not defined in the SQL specs I've peeked at), but is there a particular reason that it's currently not possible to parse a CREATE INDEX/DROP INDEX statement?

[2020-03-31 07:47] eyalleshem opened #154 "Fail to parse - "select * from (table_name)""
I think it's fail here - https://github.com/andygrove/sqlparser-rs/blob/master/src/parser.rs#L1797
because the code assume that inside the Parenthesis should be TableFactor::Derived  or TableFactor::NestedJoin,  but it's not take in account it's could be TableFactor::Table

[2020-03-31 08:22] nickolay commented on #154
`from (table_name)` is not actually valid SQL. Note that `<table primary>` in the [ANSI SQL grammar](https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#_7_5_from_clause) does not allow parentheses around `<table or query name>`. A quick test shows that at least MS SQL Server follows the spec here. What database are you working with?

[2020-03-31 08:50] eyalleshem commented on #154
Thanks for the quick response :)

I testest against snowflake ..
Is that something that could be solve by building a dialect ?

[2020-03-31 12:26] nickolay commented on #154
Theoretically, yes. Practically in the current implementation the selected dialect only affects the tokenizer, and the parser unconditionally tries to parse some non-standard constructs.

[2020-03-31 13:16] eyalleshem commented on #154
So a code that support such syntax could be accepted?

[2020-03-31 13:39] nickolay commented on #154
I guess so, if it's going to be a simple change, that doesn't introduce problems parsing the standard syntax (this specific bit of the parser is quite complex as it is). @benesch what do you think?

[2020-03-31 19:28] eyalleshem commented on #154
well - i tried :)

[2020-04-03 06:07] juaby opened #156 "MySQL fail to parser "Select @@XXX or SET NAMES utf8""
RT:

SQL:
[code]

[2020-04-03 13:32] nickolay commented on #156
https://github.com/andygrove/sqlparser-rs/blob/master/src/dialect/mysql.rs looks like it was explicitly coded to reject `@` and it has a link to the docs which doesn't mention @ either...

[2020-04-16 15:42] christoshadjiaslanis opened #160 "ANSI SQL String concatenation operator `||`"
Hi.

Great crate thank you very much for your work.

I think there isn't support for ANSI SQL String concatenation:

`SELECT "a" || "b" FROM ...`

Is there plan to support this soon?

I think most SQL dialects support the `CONCAT` function, but I don't think it's ANSI SQL.

[2020-04-17 19:41] mullr opened #161 "Add Span to Tokens, AST nodes"
I'd like to use this library for some refactoring and analysis tools. It would be very helpful to have source line/column information available on the AST nodes, something along the lines of `Span` from `syn`. (https://docs.rs/syn/1.0.17/syn/spanned/trait.Spanned.html)

I see that line/column is already tracked in the tokenizer. I'm thinking something along the lines of:

[code]

The main objectio

[2020-04-20 00:01] nickolay opened #164 "Fix broken code coverage"
As noted in https://github.com/andygrove/sqlparser-rs/pull/159 , `cargo coveralls` fails in CI with an error due to a change in Cargo.lock format. This is supposed to be fixed in https://github.com/roblabla/cargo-travis/issues/66 , but simply upgrading to that version didn't work for me resulting in linking errors. I did not investigate further.

[2020-04-21 14:52] nickolay commented on #161
I hope @andygrove and @benesch would comment.

As I'm also interested in analysis, I'd love something like this implemented.

Do you think this can be implemented without adding too much boilerplate? (In the tests, in particular, they're rather verbose as it is.)

A tangentially related issue I've been mulling over is the "AST" types we have now and how can they support dialects. For a while now I

[2020-04-21 14:53] nickolay commented on #154
PR #155 is now merged, closing this. Thanks!

[2020-04-21 14:53] #154 closed

[2020-04-21 15:04] nickolay commented on #160
Hi! You're right that `||` is the standard way to concatenate strings (per [6.31 &lt;string value expression>](https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#_6_31_string_value_expression)), unlike `CONCAT`. I don't know of anyone working to implement it, so if you were thinking to make a pull request, it would be most welcome!

[2020-04-21 15:08] nickolay commented on #156
Hey. Sorry, but I'm going to close this, as I don't understand what the problem is from the description you've provided...

Please feel free to re-open if you care to elaborate, preferably with a minimal example and a link to the documentation.

[2020-04-21 15:08] #156 closed

[2020-04-21 15:21] nickolay commented on #152
Sorry for the late answer!

Yes, `CREATE INDEX` is not part of ANSI SQL because like much of DDL it's very database-specific.

`sqlparser` doesn't support it simply because no-one implemented it. At this point we accept PRs that add support for syntax accepted by a popular RDBMS, so if anyone is willing to implement any part of it, it would be great.

[2020-04-21 16:36] christoshadjiaslanis commented on #160
Maybe label it as 'help wanted'.

If I find some time I'll give it a shot.

[2020-04-21 16:45] nickolay commented on #146
That's not possible. Your options are to submit a PR if it's a missing feature defined in the standard or supported by a popular DB or make your own fork... As I understand, #7 was supposed to track improvements in this area, but it was stalled.

P.S. I'm sorry no-one answered you earlier!

[2020-04-21 16:45] #146 closed

[2020-04-21 18:28] mullr commented on #161
I don't think it'll be to bad. I've hacked on this a little, and the initial approach I took was to exclude `span` fields from equality / hash computation, as they pretty clearly count as 'metadata' and not the data itself. But I haven't gotten as far as updating the test cases yet.

Their design goal of 'Syntax trees are lossless, or full fidelity. All comments and whitespace are preserved.' is w

[2020-04-22 16:54] mullr commented on #161
I've pushed up a 'span' branch on my fork that implements a small slice of this, to serve as discussion fodder: https://github.com/mullr/sqlparser-rs/commits/span

Adding Spans to the tokenizer out put was very easy. Getting them into the guts of the parser was a bit more, but straightforward. I added it to a single AST node (Ident), and I think I arrived at a pattern that isn't too disruptive, es

[2020-04-22 16:57] andygrove commented on #161
Sorry, I probably won't have time to look at this until the weekend, but I will review this.

[2020-04-22 17:43] nickolay commented on #161
The tests aren't affected, because of the `#[derivative(PartialEq = "ignore")]` on the new `span` member of `Ident`, right? Nice!

A few quick thoughts:
* The changes [introducing TokenOccurrence to the parser](https://github.com/mullr/sqlparser-rs/commit/1ed9a8eb94821f7239bef37aa30d8ca86794e1ef) turn out to be more involved than I expected, in particular having to match on `TokenOccurrence { toke

[2020-04-22 21:46] mullr commented on #161
Yeah, it felt pretty bad writing that, but I don't have a better idea either.

It's a tricky question, especially because the AST here is especially abstract. I would probably put it in places where there's already a struct that clearly corresponds to a piece of syntax, but wouldn't create new pieces of structure just to staple a Span on to.

In your examples: `OrderByExpr`, yes. `Query`, yes. `Qu

[2020-04-22 21:48] mullr commented on #161
One thing to note: only leaf AST nodes actually require the span to be attached to them as a field. Intermediate nodes can have an implementation if the `Spanned` trait which computes their span based on their children.

[2020-04-23 00:31] nickolay commented on #161
I think that would only work for the rowan-like design, where concatenating the leaf nodes' text returns the original source. Coming back to the `OrderByExpr` example, it represents the `ORDER BY <expr> ASC/DESC` string in the source, but the only "leaf" node under it is `Expr`. So it seems like it needs a span too, and that logic applies to pretty much every node, no?

[2020-04-27 14:47] mullr commented on #161
You're absolutely right, I hadn't thought of it that way.

[2020-05-11 01:28] aidanhs opened #166 "`FROM` not rejected in column position"
Parsing `SELECT FROM abc` succeeds with:
[code]

It seems suprising that parsing accepted `FROM` as a column identifier! The SQL engines I've quickly tried out (sqlite locally, a handful of online validators) all seem to indicate that it's invalid - maybe it should be rejected?

[2020-05-11 12:42] nickolay commented on #166
I agree that accepting `SELECT FROM abc` is surprising and I agree that this is probably invalid in many (if not all) dialects, so I would consider a fix if someone were to propose one.

But it's not obvious to me how this should be changed or why.

---
Some context:

There have been precedents for adding validations to reject such obviously incorrect code, e.g. in https://github.com/andygrove/sql

[2020-05-18 03:06] mashuai commented on #152
Add CREATE INDEX AND DROP INDEX support. https://github.com/andygrove/sqlparser-rs/pull/167

[2020-05-24 17:59] jrmuizel opened #168 "column names that conflict with DATE/TIME keywords must be quoted"
Postgresql has no problem parsing the query `select date from default` but sqlparser-rs does:
[code]

[2020-05-25 15:19] cswinter commented on #161
Some way of accessing spans would also enable better error reporting in e.g. LocustDB since it makes it possible to point to specific spans within the original query string.

[2020-05-26 00:22] maxcountryman opened #169 "`listagg` support?"
It seems the parser doesn't currently support [listagg](https://modern-sql.com/feature/listagg). For instance, the following Redshift example fails to parse:

[code]

[2020-05-26 02:39] nickolay commented on #169
You're right, and PRs are welcome!

According to [the spec](https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#listagg-set-function), the syntax seems to be:

[code]

[2020-05-26 03:28] nickolay commented on #168
Thanks for the report!

Using `DATE` as a column name is not universally supported (MSSQL, for example, also bails on it).

But yes, Postges supports DATE both as a part of the `DATE 'yyyymmdd'` literal and as a column name (if not followed by a string literal). It [generalizes it](https://www.postgresql.org/docs/12/datatype-datetime.html#DATATYPE-DATETIME-INPUT)  to [`type name [ (optional_precis

[2020-05-26 12:58] maxcountryman commented on #169
Should this be an extension to the `Expr` enum or its own node type altogether?

[2020-05-26 14:48] nickolay commented on #169
Well, #40 made the point that the more complex enum variants are more convenient to work with when they wrap a separate type, like [`Expr::Function`](https://github.com/andygrove/sqlparser-rs/blob/f6144811331bba457f1c0cfa74ba7e7342ffe728/src/ast/mod.rs#L208) does. In simpler cases like [`UnaryOp { op: UnaryOperator, expr: Box<Expr> }`](https://github.com/andygrove/sqlparser-rs/blob/f6144811331bba4

[2020-05-26 15:09] maxcountryman commented on #169
Makes sense. I started implementing this as an entirely new type a la `TOP` but let me know if you think that doesn’t sound like the right approach.

[2020-05-26 15:19] nickolay commented on #169
A new type is fine, the question is how it integrates with the existing AST types.

TOP is not a good analogy in this regard, as it's referred to via a `top: Option<Top>` member on `Select`, meaning there can be zero or one TOP statement in a SELECT.

`listagg`, I believe, can be a part of a string expression, and so must be referred to from `Expr` somehow. (Your own example has 3 instances of lis

[2020-05-26 15:21] nickolay commented on #169
By the way, I just noticed your example had this: `listagg(dateid) as dates`. The spec says `WITHIN GROUP (ORDER BY ...)` is mandatory, which makes sense. Is this a typo? If not, please make sure to mention which dialect supports omitting it and including a test for it.

[2020-05-26 15:24] maxcountryman commented on #169
My plan was to tie this new type into `Expr` (`TOP` doesn’t make much sense as an example, aside from the fact it’s its own type, oops); much like the function implementation you pointed out.

That is not a typo, that’s valid Redshift (and I would assume Postgres) SQL.

[2020-05-26 15:45] nickolay commented on #169
Sure, if you meant a separate type, that's cool.

Thanks for confirming that Redshift decided to make WITHIN GROUP optional, and [the delimiter too, it appears](https://docs.aws.amazon.com/redshift/latest/dg/r_LISTAGG.html):

[code]

( https://modern-sql.com/feature/listagg doesn't list Postgres a supporting LISTAGG at all yet.)

[2020-05-26 16:28] nickolay commented on #169
Yes, if you're willing to discuss a Redshift dialect, let's do it in a separate thread. At this time adding a dialect is not a prerequisite for handling its quirks, as the active dialect currently can affect the tokenizer only, not the parser. Just make a note about the quirks you choose to implement ([example](https://github.com/andygrove/sqlparser-rs/blob/f6144811331bba457f1c0cfa74ba7e7342ffe728

[2020-05-27 02:15] nickolay commented on #152
Thanks to @mashuai, PR #167 is now merged, and sqlparser supports CREATE/DROP INDEX (to the extent described in that pull request). I think I'm going to close this issue.

[2020-05-27 02:15] #152 closed

[2020-05-29 14:30] maxcountryman opened #175 "Comment handling"
I've been working on [a SQL formatter](https://github.com/maxcountryman/forma) that leverages this library extensively. One problem with using `sqlparser-rs` right now is that comments are treated like whitespace and removed from the AST. I'm curious if there would be any interest in bringing comments into the AST? Perhaps this could be optional, since I imagine it's not terribly useful for most c

[2020-05-29 22:26] nickolay commented on #175
I mentioned [before](https://github.com/andygrove/sqlparser-rs/issues/161#issuecomment-617230324) that I am interested in experimenting with an alternative design, in which the parser's output can be concatenated back together to form exactly the input string. I should probably share the prototype I have, despite it being very incomplete as I seldom work on it...

I don't see another way for the c

[2020-05-30 15:50] #169 closed

[2020-06-01 14:03] maxcountryman opened #177 "Redshift interval literals seem to fail to parse"
[Redshift's interval literals](https://docs.aws.amazon.com/redshift/latest/dg/r_interval_literals.html) seem to differ in structure from what the parser presently expects. Notably, the date/time field is part of the preceding string. Perhaps the interval implementation could be modified to consider the Redshift implementation?

[2020-06-01 14:04] maxcountryman commented on #175
@nickolay I'd be very curious to see your prototype--if there's any way I can contribute, I'd be happy to. 🙂

[2020-06-01 14:33] nickolay commented on #177
This was [intentional limitation of the initial implementation](https://github.com/andygrove/sqlparser-rs/pull/103#discussion_r291827496) and there's [a note to that effect in parser.rs](https://github.com/andygrove/sqlparser-rs/blob/5f3c1bda0133348a0b60f18c88a0d48b9400dcfe/src/parser.rs#L526). I don't see a reason why we can't change the parser to accept `INTERVAL 'value'` not followed by YEAR/HO

[2020-06-01 14:59] maxcountryman commented on #177
I'd be happy to take a look at this, @nickolay.

[2020-06-02 14:15] maxcountryman commented on #168
I'll also add that I ran into this issue with Redshift (a derivative of Postgres originally).

[2020-06-02 16:51] Dandandan opened #179 "Add line/column information consistently to every parser message."
It would be useful to have clear parser errors which have the position (line and column) printed.

Now for some errors there is information of where the error happened:

`Unterminated string literal at Line: {}, Col: {}`

For others, there isn't:

`Unexpected EOF while in a multi-line comment`

I think this would be a "good first issue" to work on, maybe I find some time to work on this soon.

[2020-06-02 18:25] nickolay commented on #160
Fixed in #178.

[2020-06-02 18:25] #160 closed

[2020-06-02 18:27] nickolay commented on #177
@maxcountryman That's great to hear! And I will be happy to merge a PR from you:)

[2020-06-02 19:07] nickolay commented on #179
I agree with this goal, and location-aware errors from `sqlparser` is part of the larger story of good error messages (the other part is keeping track of position in the happy case, so that semantic errors can be reported with a specific location as well -  https://github.com/andygrove/sqlparser-rs/issues/161#issuecomment-633619241)

Note that currently the tokenizer and the parser do two independ

[2020-06-02 19:48] Dandandan commented on #179
Sounds great! The first indeed is the more low hanging fruit I meant with this story (`TokenizerError`). The second one is really valuable but probably requires much more changes.

[2020-06-02 20:02] Dandandan opened #180 "Add bitshift or operator `|`"
Now that we have the string concat `||` operator, IT would be nice to add the bitshift operator `|` as well.

(Good first issue)

[2020-06-02 23:50] aidanhs commented on #166
Your reasoning is pretty convincing - thanks for laying it out so clearly!

[2020-06-02 23:50] #166 closed

[2020-06-03 16:02] nickolay commented on #180
Fixed in #181

[2020-06-03 16:02] #180 closed

[2020-06-03 19:21] Dandandan commented on #164
What about using https://github.com/xd009642/tarpaulin ?

[2020-06-03 20:30] nickolay commented on #164
I don't know the difference. Whatever works and produces usable coverage info will do, I suppose. The issue is someone willing to put in the work!

[2020-06-03 21:09] nickolay commented on #18
Frankly, I don't understand the `to_postgresql` suggestion.

FWIW, my instinct is to think about translations between SQL dialects as of AST _transformations_, rather than different serializations, but It's hard to think about this without looking at a corpus of translations that need to be supported.

Pretty printing an AST like ours is definitely out of scope, but for tasks requiring minor fixup

[2020-06-04 17:17] mullr commented on #175
This is /exactly/ the use case I had in mind for #161.

[2020-06-05 09:50] panarch opened #183 "Add `serde` support to AST structs and enums"
Hello, I found that `serde` is not applied in this project, so there's no easy way to serialize/deserialize AST nodes.
`serde` is often quite useful for some cases; considering to parse query and store the result in somewhere, or parsing remotely and send to database over network... etc.

It looks good to add `serde` as optional like `bigdecimal`.
then something similar with this below will be add

[2020-06-06 14:22] maxcountryman commented on #164
I'm curious about GitHub Actions as well: I've recently switched over some repos from Travis to Actions and so far it seems to be a nice change. In particular, the configuration is a little more straightforward and there's a nice ecosystem of Actions that are easy to use.

[2020-06-06 14:44] maxcountryman commented on #164
I didn't realize there was already a GitHub Actions workflow! 🙂 I put together a quick refactor in case that's a direction you want to go in.

[2020-06-06 23:15] Dandandan opened #188 "Add some benchmarks"
It would be nice to have some numbers on the performance of this parser. There are probably a few hotspots in the code, but without any numbers it is hard to find those.

We can maybe start with a few simple criterion benchmarks, like

created in forma/formation:
https://github.com/maxcountryman/forma/blob/master/formation/benches/formation_bench.rs

[2020-06-07 06:14] nickolay commented on #188
I'm in favor of adding something like this as a template to help with profiling, if we take care not to regress the build time for those not running the benchmarks.

But I don't see a problem with performance at this stage, and I don't think it should be a goal of this library to achieve the highest possible number of parses/second. For example, I'm going to trade being able to track position info

[2020-06-07 06:20] nickolay commented on #183
I agree. I actually add this by hand to my local copy every now and then using two global replacements:

* Search for `#[derive(Debug, Clone, PartialEq, Eq, Hash)]` to append Serialize/Deserialize
* Search for `use std::fmt;` and prepend `use serde::{Serialize, Deserialize};`

...but if I'm not alone, it's probably a good idea to include it in the crate, via an optional feature, as you suggest.

[2020-06-07 06:47] Dandandan commented on #188
Yes, agree. However we probably can have the same functionality, while being faster, or track regressions a bit better.

[2020-06-07 07:48] nickolay commented on #188
Sure. Do you want to whip up a PR or should I mark this helpwanted?

[2020-06-07 10:06] Dandandan commented on #188
I probably make a PR soon!

[2020-06-07 10:58] nickolay commented on #175
Sorry for the delay, I posted the prototype in #189

[2020-06-07 11:45] panarch commented on #183
@nickolay Thanks, it's so good to see that I'm not the only one who needs `serde`.
I also worried about that someone may think `serde` is totally not necessary feature to have.
So... that was why I suggested to add as an optional feature, `cfg` is really cool.

I'm currently migrating a parser of my existing sql db project from `nom-sql` to `sqlparser-rs`, this one.
In `nom-sql`, it supports `serd

[2020-06-07 14:37] Dandandan commented on #188
Fixed!

https://github.com/andygrove/sqlparser-rs/pull/190

[2020-06-07 14:37] #188 closed

[2020-06-07 17:15] #164 closed

[2020-06-07 18:48] Dandandan commented on #183
Serde support could be quite useful. I agree as an optional feature would be the best, to avoid longer compile times.

[2020-06-09 16:22] panarch commented on #183
Due to https://github.com/andygrove/sqlparser-rs/pull/189
https://github.com/nickolay/sqlparser-rs/commit/5ba4a554159016db20bf2bbfb40f52066d753da4 already added `serde` so I'll just leave my local branch without requesting PR. 👌

[2020-06-09 16:59] nickolay commented on #183
That's just an instance of _adding this by hand to my local copy_, not intended to be merged (it's not optional, for one). Please feel free to PR your branch.

[2020-06-10 06:32] #177 closed

[2020-06-10 09:29] panarch commented on #183
Ok, then I'll make PR, thanks :)

[2020-06-10 11:11] #183 closed

[2020-06-11 18:14] Dandandan opened #198 "FileFormat is case sensitive"
`stored as parquet` ...

fails to parse.

Could be easily solved by converting to upper case before.

[2020-06-11 21:04] #168 closed

[2020-06-12 15:36] #198 closed

[2020-06-16 20:40] nickolay commented on #147
This is implemented in #203 and #148. Thanks!

[2020-06-16 20:40] #147 closed

[2020-06-20 13:54] maxcountryman opened #204 "New Crates release?"
I'm wondering if it's possible to author a new Crates release containing the recent changes? It seems that without a published crate, I'm [unable to bring these changes into my own crates](https://github.com/rust-lang/cargo/pull/7237/#issuecomment-532283875).

[2020-06-20 17:16] Dandandan opened #205 "Support CREATE TABLE AS"
Currently we don't support CREATE TABLE AS statements.

Also seen here in the table definition (`<as subquery clause>` )

https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#_11_3_table_definition

This is useful for analytical queries.

[2020-06-22 13:25] mashuai opened #207 "Add conditional compilation to support different SQL dialect"
The SQL dialect of the database is different, like when you use `CREATE TABLE ` , if you use SQLite, maybe you don't want to use the crowd, you can write SQL like this
`
CREATE TABLE test (
    a TEXT
)WITHOUT ROWID;
`,
but MySQL or PostgresSQL don't support that, if you use MySQL, you can choose the storage engine like
`CREATE TABLE test(
    a varchar(100)
) ENGINE=InnoDB;`.
So, we can add featu

[2020-06-22 17:45] nickolay commented on #207
You're right that every dialect of SQL is different. Currently (until the dialects story is figured out in #7) we deal with this by accepting dialect-specific extensions in the mainline parser -- with tests and an indication which dialects an extension applies to, but no toggle to select a dialect. Sometimes we come up with a generic grammar that the common dialects fit (e.g. [ColumnOptionDef](htt

[2020-06-22 17:47] nickolay commented on #204
You'll have to get hold of @andygrove for that, as he's the only one who can do a release.

[2020-06-23 02:17] mashuai commented on #207
I use sqlparser-rs to parse SQLite's SQL statements. Here is SQLite's CREATE TABLE grammar [SQLite CREATE TABLE](https://sqlite.org/lang_createtable.html). It supports `WITHOUT ROWID`, If I want to implement it for SQLite,  I have to add this to `Statement::CreateTable`. If I do this, others like MySQL, PostgreSQL or MSSQL will implement it too.

[2020-06-23 14:42] nickolay commented on #207
sqlite's `WITHOUT ROWID` is similar to `external`, `location`, and `file_format`, which are already a part of `Statement::CreateTable`, even though they are Hive-specific. So I think it's fine to add a flag for `WITHOUT ROWIDS` too.

As I recently noted in [an another discussion](https://github.com/andygrove/sqlparser-rs/pull/206#discussion_r443659429) with @Dandandan, we could change `Statement::

[2020-06-23 17:10] Dandandan commented on #205
Implemented in https://github.com/andygrove/sqlparser-rs/pull/206

[2020-06-23 17:10] #205 closed

[2020-06-24 14:28] mashuai commented on #207
I add `WITHOUT ROWID` to `CreateTable` like this https://github.com/andygrove/sqlparser-rs/pull/208

[2020-06-25 20:04] Dandandan commented on #204
Would it an idea to keep the crates.io secrets in GitHub so we can setup an automated way of releasing via a workflow (with git tags for example).

[2020-06-25 20:06] Dandandan commented on #204
Like this: https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets#using-encrypted-secrets-in-a-workflow

And yes, I would also would love a new release for the recent `create table as` addition :).

[2020-06-25 20:22] andygrove commented on #204
This sounds good. I'm also open to giving others permissions to publish.

[2020-06-25 20:22] andygrove commented on #204
I can take care of a release this evening to at least unblock people for now.

[2020-06-26 02:48] andygrove commented on #204
0.5.1 is published. In hindsight I should probably have released as 0.6.0. Hopefully there aren't any major breaking changes.

[2020-06-26 06:43] Dandandan commented on #204
Super, thanks!

[2020-06-26 12:04] nickolay commented on #204
@andygrove  Thanks! I've updated the changelog to note that: https://github.com/andygrove/sqlparser-rs/commit/0c82be5c3b34e3409607e34f14e0f45dae9dc4dd

[2020-06-26 13:45] maxcountryman commented on #204
Thanks, Andy!

[2020-06-26 13:45] #204 closed

[2020-06-26 14:23] hwchen opened #210 "Semver for 0.5.1"
Hello,

Can you clarify why 0.5.1 was not 0.6.0, when there was a major breaking change? The changelog makes some mention, but doesn't really explain the reasoning.

It broke my CI; not the end of the world, but it was a bit confusing.

(And also, thanks for the work, it's a great library. This wouldn't be an issue for me if I wasn't depending on it for something important).

[2020-06-26 15:09] Dandandan commented on #210
Hi @hwchen . See this issue for the exact reason

https://github.com/andygrove/sqlparser-rs/issues/204

definitely something to avoid in the future!

[2020-06-26 15:58] hwchen commented on #210
Ah, I see. Thanks for pointing me to the issue!

[2020-06-26 15:58] #210 closed

[2020-06-26 20:02] Dandandan commented on #204
Would it maybe be an idea to either give someone else permission to publish? I think @nickolay is the most active in here . We could also setup this for publishing a crate:

https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets#using-encrypted-secrets-in-a-workflow

This could work the same way like @maxcountryman has implemented for forma:

h

[2020-06-26 20:14] andygrove commented on #204
I would be happy to give permissions to others. I think I would just need
their crates.io username.

On Fri, Jun 26, 2020, 2:02 PM Daniël Heres <notifications@github.com> wrote:

[2020-06-28 01:17] nickolay commented on #204
Thanks, I've registered https://crates.io/users/nickolay , but if anyone else is willing to take care of the release process, I'd be happy to stand back.

In particular, if @Dandandan or @maxcountryman volunteered (wink), I would be in favor of giving them the necessary permissions. They have been active on the project recently, and it would be an honor to have them on the team officially!

[2020-06-28 09:13] Dandandan commented on #204
I would like to help with this!

If you also add me to the GitHub repo I can also implement the tag-based release process like I linked to.

My github / crates handle is Dandandan.

[2020-06-28 09:33] Dandandan opened #212 "Increase testing & SQL support"
I want to write down some ideas about increasing support for commonly used SQL statement.

Some different ideas for doing more testing:

1. Add SQL corpora that should be parsed correctly. I think we can create a directory with multiple dialects with multiple corpora.
  Examples can be TCPDS benchmark http://www.tpc.org/tpcds/ and other resources from different projects.
  We can test two main thi

[2020-06-28 15:31] andygrove commented on #204
ok @Dandandan aND @nickolay you should both have invites got crates.io and @Dandandan also has an invite to collaborate on this repo.

I just moved the repo under the ballista-compute org as well.

[2020-06-28 15:33] maxcountryman commented on #204
It sounds like there's enough people to take care of the processes, but if it's helpful I'm also happy to volunteer. 🙂

[2020-06-28 15:39] andygrove commented on #204
@maxcountryman Invites sent!

[2020-06-28 15:40] maxcountryman commented on #204
Thanks, Andy!

[2020-06-28 15:41] andygrove opened #213 "Rename github master branch to main"
Rename github master branch to main

[2020-06-28 15:58] maxcountryman commented on #213
Happy to take a crack at this. Should be fairly straightforward, we'll need to create `main`, update a few references, and then set it as the default branch. I can push up the branch and ensure it's inline with our old mainline and then put together a PR to update references before we switch the default branch.

[2020-06-28 17:24] andygrove commented on #213
Perfect. Existing PRs can be edited to change the base branch easily once the main branch exists.

And for context on why this change is being made (I should have included this information when creating the issue):

https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/

[2020-06-28 17:40] maxcountryman commented on #213
I've created the `main` branch and put together a PR of the references in the README and CHANGELOG that needed updating. @andygrove I think you'll have to update the default branch when you're ready.

[2020-06-28 18:34] andygrove commented on #213
`main` is now the default branch.

[2020-06-28 19:31] Dandandan opened #216 "Slow inputs"
The fuzzer (https://github.com/ballista-compute/sqlparser-rs/pull/211) I am running with a timeout of 1 second. After running for a while, it finds a number of queries which are taking longer than one second to parse:

[code]

[code]

The stacktrace looks like this:
[code]

[2020-06-29 13:15] Dandandan opened #218 "Automate release process"
Now that sqlparser-rs is under a new repo and shared with multiple owners/maintainers, it makes sense to standardize the release process a bit.

I was thinking of publishing a crate automatically after a release has been tagged. This way we can also use the GitHub release functionality to organize / document releases: https://help.github.com/en/github/administering-a-repository/managing-releases-i

[2020-06-30 07:19] Dandandan commented on #216
https://github.com/ballista-compute/sqlparser-rs/pull/217 contains a fix

[2020-07-02 16:12] Dandandan commented on #218
I am willing to take this up.
But I think I need access to the repo to add a secret.

If this sounds like a good idea, can anybody @andygrove @nickolay either add a token or add permissions for me to add this token `CRATES_TOKEN`?

[2020-07-03 16:20] andygrove opened #220 "Add unit tests for TPCH queries"
I've started work on making Ballista capable of running the TPCH benchmark and plan on using the latest version of the sqlparser crate.

It would be nice to add the TPCH queries [1] to the unit/integration tests to make sure they can all be parsed correctly. If we need to pick a dialect to test with, I would suggest Hive.

[1] https://github.com/andygrove/tpch-dbgen/tree/master/queries

[2020-07-03 16:29] Dandandan commented on #220
Good idea. Also linked to TPC-DS in this issue
https://github.com/ballista-compute/sqlparser-rs/issues/212

[2020-07-05 14:01] Dandandan commented on #220
Added a PR here https://github.com/ballista-compute/sqlparser-rs/pull/221

FYI, nr 6 and 22 are failing currently:

[code]

[code]

[2020-07-08 10:41] alex-dukhno commented on #7
Hi guys, I am building a PostgreSQL compatible NewSQL database and using `sqlparse-rs`. I haven't encountered problems with supporting different dialects until I started working on mathematical operations that PostgreSQL supports.
I don't know how big problem to add `!` factorial, `!!` prefix factorial, `|/` square root and `||/` cube root to the parser, however, it is a problem for bitwise xor wh

[2020-07-09 18:07] hwchen opened #222 "cte inside select"
I've recently come across sql queries where the cte was inside of a SELECT statement:

[code]
Should this be supported, or is this a dialect oddity? (Snowflake)

[2020-07-09 19:48] hwchen opened #223 "Fail to parse - "select * from (table_name) alias" (Snowflake)"
Related to https://github.com/ballista-compute/sqlparser-rs/issues/154

sqlparser now parses `select * from (table_name)`. However, it does not parse `select * from (table_name) alias`.

Would it make sense to add this functionality? If so, would that mean adding an `alias` field to `TableWithJoins`?

[2020-07-10 08:41] Dandandan commented on #222
Thanks for filing the issue.
Did you test this already in the parser? I believe this should supported already, otherwise it looks like a bug.

[2020-07-10 16:16] hwchen commented on #222
So strange, I could have sworn it was failing a test. Perhaps I misread it. Anyways, I see how this is supported, and I also see the test for it. Sorry!

[2020-07-10 16:16] #222 closed

[2020-07-10 16:22] hwchen commented on #223
It looks like `select * from (select * from table_name) alias` works.

[2020-07-11 19:53] codeStryke opened #224 "[question] Is it possible to parse incomplete SQL?"
I'm working on building a web-based SQL editor and we would like to implement an intelligent autocomplete. To that end, we would like to know if the cursor position in the string corresponds to a Table/Column/Keyword/Function in the SQL statement. Unfortunately, the user might still be writing the query and it will not be well-formed yet in the majority of the cases.

I'm wondering if this project

[2020-07-12 06:34] Dandandan commented on #179
@nickolay I saw that in the fork of Materialize column / line indexes are supported.
For that, the following is done:
* add range to result of tokenizer https://github.com/MaterializeInc/materialize/blob/main/src/sql-parser/src/tokenizer.rs#L328
* Add range to parse error
* When showing an error, the line / columns is found and a nice error is displayed https://github.com/MaterializeInc/materializ

[2020-07-12 06:41] #213 closed

[2020-07-14 16:07] Dandandan opened #225 "Add support for ASSERT statement."
I would like to use it for my project https://github.com/Dandandan/PowerSQL/ to implement data tests.

It is supported by at least postgresql and bigquery.

[2020-07-14 19:31] bigkraig commented on #7
Same boat as @alex-dukhno, except that I want to extend this to support SqlAnywhere

[2020-07-14 23:32] nickolay commented on #179
The source range (or rather the corresponding string) is needed for the Lossless Syntax Tree as well. I used `token.to_string()` as a workaround, but adding proper infrastructure would certainly be helpful!

Since the LST needs a data-less `enum SyntaxKind` to tag its nodes (both the leafs - i.e. tokens - and intermediate ones), I planned on changing `Token` to store only this tag and a slice of t

[2020-07-14 23:53] nickolay commented on #224
sqlparser's AST can only represent well-formed SQL. Fixing that (and supporting the editor use-case specifically) is one of the motivations for https://github.com/ballista-compute/sqlparser-rs/pull/189

Unfortunately, that work has seen very little progress and is currently in an early prototype stage. It should be easier, though, to fork it to achieve what you want, as ripping out the typed AST w

[2020-07-15 00:10] nickolay commented on #223
As noted in #154, `FROM (table_name) alias` is not valid SQL. Which database supports that?

This becomes hard to reason about. The SQL standard allows `FROM table_name alias` and `FROM (tab1 alias1 CROSS JOIN tab2 alias2)`. We relaxed our parser to allow omitting the JOIN inside the parens, making it accept `FROM (tab1 alias1)` too. But it doesn't make sense to allow `FROM (table_name alias1) ali

[2020-07-15 00:15] hwchen commented on #223
I think it's reasonable not to handle this in this library, I can think of some workarounds. This is snowflake :) and just double-checked that this syntax works.

[2020-07-15 00:39] nickolay commented on #223
[Its docs](https://docs.snowflake.com/en/sql-reference/constructs/from.html) don't explain how it handles this.. Out of curiosity, how does it react to `FROM (table_name alias1)` and `FROM (table_name alias1) alias2`?

[2020-07-16 15:28] Dandandan commented on #225
Merged in https://github.com/ballista-compute/sqlparser-rs/pull/226

[2020-07-16 15:28] #225 closed

[2020-07-16 15:43] Dandandan commented on #220
PR #221 is merged, can address the ignored tests (6, 22) later.

[2020-07-16 15:44] #220 closed

[2020-07-16 15:55] Dandandan opened #227 "Add support for UDFs: CREATE FUNCTION"
It would be great to have support for `CREATE FUNCTION` statement to define UDFs.

I think it makes sense to develop the more minimal variant of BigQuery first: support for `LANGUAGE` (e.g. javascript) and `AS` (sql) or even sql-only to start with.

https://cloud.google.com/bigquery/docs/reference/standard-sql/user-defined-functions

https://www.postgresql.org/docs/9.1/sql-createfunction.html

[2020-07-16 20:58] Dandandan opened #228 "Support CREATE OR REPLACE VIEW | TABLE"
This is very useful for analytical statements.

[2020-07-17 05:11] nickolay commented on #7
We currently accept dialect-specific extensions in the mainline parser, trying to document the differences between the dialects as we add support for more syntax.

We don't have many examples where we weren't able to do so (#223 comes to mind, but that dialect's grammar is undocumented). I do expect that we'll have to add dialect-specific parsing at some point, probably using the approaches I wrot

[2020-07-17 05:20] nickolay commented on #212
Yeah, this is called "snapshot testing" and I think it could replace most of our current tests.
The main benefit to me is the simplicity of adding a new test, compared to the status quo, which can lead to increased coverage.

_(I don't see the reason to use JSON here and like to avoid heavy-weight dependencies like serde for essential functionality, if possible, but that can be discussed separatel

[2020-07-17 05:40] Dandandan commented on #212
1. Yes, we could also use the displayed output instead of serde, that would be much better (and cover that displaying functionality / regressions a bit more as well).

2. With unit tests I mean the current tests that present a simple input and output.

3-4 main benefit is making the amount of test cases much larger compared to handwritten examples. For example, the fuzzer found some cases in which

[2020-07-17 15:29] iduanyingjie opened #230 "Does not support the AS keyword"
<img width="1011" alt="WX20200717-232610@2x" src="https://user-images.githubusercontent.com/8772749/87803361-f03d2a00-c884-11ea-8c35-2793ee7badb1.png">

I didn’t find any field in Statement indicating whether to use the AS field. I think it’s necessary to mark it.

[2020-07-19 19:27] Dandandan opened #231 "Release new version"
I would like to release a new version, as it has support for the `ASSERT` statement.

Any objections?

Should we call it 0.5.2 or 0.6?

[2020-07-19 23:00] nickolay commented on #231
No objections from me, and [it's probably better to call it 0.6](https://github.com/ballista-compute/sqlparser-rs/issues/117#issuecomment-507819462).

[2020-07-20 16:35] Dandandan commented on #231
Thanks. I released a new version. By accident I merged the `master` branch as 0.6.0 instead of the `main` branch.

Removed the master branch now to avoid confusion in the future. Also we might want to automate `cargo publish` as well.

[2020-07-20 16:35] #231 closed

[2020-07-20 18:41] maxcountryman commented on #231
@Dandandan I can help with the release automation. 🙂

[2020-07-20 22:13] nickolay commented on #230
Why do you need it? I'm not aware of any SQL dialect in which `FROM foo bar` and `FROM foo AS bar` have different meaning, and the current AST cannot, by design, preserve all the detail of the source code (I believe the solution to that is #189). So unless there's a good reason to add it, I'm inclined to close this issue.

[2020-07-21 12:47] mashuai opened #233 "Add semicolon to the end of the `ALTER ` SQL, test will panic"
I change the test in `sqlparser_common.rs` https://github.com/ballista-compute/sqlparser-rs/blob/f053383c718b3d4942751224783c594ff7e9f0b1/tests/sqlparser_common.rs#L1380
change `"ALTER TABLE tab ADD COLUMN foo TEXT"` to `"ALTER TABLE tab ADD COLUMN foo TEXT;"`, add a semicolon at the end of the SQL, when I rerun the test it reports
[code]

[2020-07-22 20:00] Dandandan commented on #231
That would be awesome @maxcountryman . I looked at adding a cargo token earlier to the repo, but looks like I don't have sufficient permissions to do that.

[2020-07-23 20:28] hntd187 commented on #56
I've submitted an early state PR for this #235 I still have lots of work to do.

[2020-07-24 14:54] iduanyingjie commented on #230
If you want to develop a tool to judge the quality of sql and optimize sql, you need to judge whether there is an as keyword in sql

[2020-07-25 11:01] jorgecarleitao opened #236 "Do we support subqueries on JOIN?"
I have been unable to parse this query: `SELECT a FROM simple1 JOIN (SELECT a, b FROM simple2) AS foo ON a`, with the error

[code]

[2020-07-25 12:13] nickolay commented on #236
Works for me on 0.6.1 (f053383c718b3d4942751224783c594ff7e9f0b1)!

[2020-07-25 12:28] jorgecarleitao commented on #236
yeap, my bad not using the latest version. Sorry about the noise :(

[2020-07-25 12:28] #236 closed

[2020-07-25 12:47] nickolay commented on #236
No problem! Note that this was added more than a year ago though.

[2020-07-25 12:53] jorgecarleitao commented on #236
Yeah, I was testing [with 0.2.6](https://github.com/apache/arrow/blob/master/rust/datafusion/Cargo.toml#L50). I will try to bump it (https://issues.apache.org/jira/browse/ARROW-7903)

[2020-07-25 14:54] jorgecarleitao opened #237 "Minor typo in format of FileFormat::Json"
We can read `JSONFILE => "TEXTFILE"` on [this line](https://github.com/ballista-compute/sqlparser-rs/blob/583f22b92900c7096ae29fd6b5280e27d93884c4/src/ast/mod.rs#L895) - it should be `JSONFILE => "JSONFILE"`

[2020-07-27 07:41] eyalleshem opened #240 "Supporting dialects in the parser"
Hi ,

Currently the lib support different databases (postgresql-sql, mysql , etc .. ) dialect only in the tokenizer.

My question is - if there was any discussions/plans about supporting per-db dialects also in the parser (or do you you think it's god idea to start such discussions )?

Where most of the DB's support ANSI sql , when it's come to more advance features like json-parsing   - There is

[2020-07-27 07:46] eyalleshem opened #241 "Is there plans to support database's dialect also in the parser"
Hi ,

Currently the lib support different databases (postgresql-sql, mysql , etc .. ) dialect only in the tokenizer.

My question is - if there was any discussions/plans about supporting per-db dialects also in the parser (or do you you think it's good idea to start such discussions )?

Where most of the DB's support ANSI sql , when it's come to more advance features like json-parsing   - There is

[2020-07-27 07:47] eyalleshem commented on #240
Duplicate of #241 - sorry

[2020-07-27 07:47] #240 closed

[2020-07-27 07:54] nickolay commented on #241
Hey, I wrote about this recently in https://github.com/ballista-compute/sqlparser-rs/issues/7#issuecomment-659857344

[2020-07-27 07:56] nickolay commented on #241
If the question was specifically about discussing a change like this https://github.com/ballista-compute/sqlparser-rs/commit/c67d6670d4f5fb7fee5450b96a799f89b8660b2f then I was too quick to close this as a duplicate, as this is something we'll need eventually.

[2020-07-27 08:02] eyalleshem commented on #223
`FROM (table_name alias1)` works as expected ,
while
`FROM (table_name alias1) alias2` complain about that alias 2 is duplicate.

Don't sure exactly what the roles of this syntax ..

[2020-07-27 08:14] nickolay commented on #223
Thanks @eyalleshem! I think forking `parse_table_factor` for Snowflake for now (and using a dialect-based switch in the parser - #241 to integrate it in the mainline) is the proper solution here.

[2020-07-27 08:17] nickolay commented on #233
Yeah, seems like in #203 we should have made [the `match` in `parse_column_def`](https://github.com/ballista-compute/sqlparser-rs/blob/f053383c718b3d4942751224783c594ff7e9f0b1/src/parser.rs#L1183) context-dependent...

[2020-07-27 08:17] silathdiir opened #242 "PREPARE, EXECUTE and DEALLOCATE are not top-level statements"
Hi, I am using this crate to parse SQLs, and working on [Postgres Extended Query](https://www.postgresql.org/docs/current/sql-prepare.html#SQL-PREPARE-EXAMPLES). e.g.

[code]

I tried to find solutions by `Dialect`, but it seems that `PREPARE`, `EXECUTE` and `DEALLOCATE` are not top-level statements.

Should they be added as top-level statements? Or there are other better solutions. Thanks.

[2020-07-27 08:24] nickolay commented on #242
Yes, adding them as new `Statement` variants is how we do that. Please note that it's Postgres-specific syntax in the comments.

[2020-07-27 08:39] nickolay commented on #230
Well, I still believe the proper long-term fix that such a tool would require is #189.

But if you can make a case for adding `AS` specifically (and not any other non-essential syntax) to sqlparser's current AST, we can reconsider. (Is this tool already available?)

If you've only started working on such a tool I think it's best if you started with a fork of sqlparser, so that you can quickly add

[2020-07-27 08:57] eyalleshem commented on #241
thanks @nikolay for the fast response :)  ,

Follow your answer i follow issue #7 , and the issues that mentation there .

What i currently hope  to do is to parse snowflake-json queries with this this lib, and I wonder what  is the correct way for doing that.

As json-Sql query in snowflake could look not native in ANSI-sql perspective -so the first idea that came into my mind is dialect.
(someth

[2020-07-27 12:53] nickolay commented on #241
Right. This is a good example where different dialects conflict, as `a.V['is_dog']` means `a.V AS "'is_dog'"` in MSSQL. It is because `['is_dog']` is a valid identifier ([already configured in the dialect](https://github.com/ballista-compute/sqlparser-rs/blob/f053383c718b3d4942751224783c594ff7e9f0b1/src/dialect/mssql.rs#L19)) and because MSSQL does not support `[]` for subscripts.

Something like

[2020-07-27 13:15] maxcountryman commented on #241
I agree that dialect-based switches seem preferable here. Unfortunately I can't think of a better way of handling these kinds of things.

[2020-07-27 20:00] #228 closed

[2020-07-27 20:11] eyalleshem commented on #241
Cool ,
Thanks for the comments.

 I think there is still one issue about the dialect specific values in the  AST .
(I think that what @nickolay tried to solved in #189)

For example currently in [derived-table definition](https://github.com/ballista-compute/sqlparser-rs/blob/main/src/ast/query.rs#L233)  , there is no definition of "FLATTEN" or "table ,
(I refer to the query : `
SELECT b.this, a.V[

[2020-07-27 20:57] nickolay commented on #241
`TABLE( ... )` actually seems to be a standard construct [called `<table function derived table>`/`<PTF derived table>`](https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#table-primary)  in the ANSI spec. I think it should be implemented as a new `TableFactor::TableFunction(Expr)` variant.

The `=>`thing is an (apparently also standard) way to denote named arguments in func

[2020-07-28 05:30] eyalleshem commented on #241
thanks @nickolay for the explanation .

So I think that I am ready to start working on PR ,
will try to take in in baby-steps - for small review cycles .

My plan is to start with #223 -as it's suit for the dialect , and could also help others.
If it's will work well , I will continue other parts  in the json syntax.

[2020-07-28 09:01] #242 closed

[2020-07-28 09:06] nickolay commented on #223
In my previous comment I forgot that there's also the problem of representing this in AST. @eyalleshem, as you indicated you'd like to work on this, please start by documenting the grammar the Snowflake dialect will implement here, and how it can be fit into our AST.

[2020-07-28 09:07] nickolay commented on #241
Cool! Actually, #223 is the least clear part of the puzzle to me (added a comment there), but I'll be glad to play along.

[2020-07-28 23:13] #237 closed

[2020-07-28 23:14] nickolay commented on #237
Thanks, fixed!

[2020-07-29 07:44] eyalleshem commented on #241
Ok , [here by try ](https://github.com/ballista-compute/sqlparser-rs/pull/244) ,
I will be happy for feedback

[2020-07-29 09:39] eyalleshem commented on #223
I opened a [PR](https://github.com/ballista-compute/sqlparser-rs/pull/244) - should be enable that,
I took 2 assumptions (both of them correct in snowflake ):

1. Table could not be re-alias (`select * from (t as a) as a1` should fail )
2. Alias not allowed in join of multiple table (`select * from (t1 natural join t2) as a1` also should fail

thats enable me to not change the AST , and in case of

[2020-07-29 15:34] nickolay commented on #223
Ah, so the only difference on the parser level is that of the three [TableFactor variants (Table, Derived, or Nested)](https://github.com/ballista-compute/sqlparser-rs/blob/2f1015339aa9cd007994f8aea51ec96e62945066/src/ast/query.rs#L222), we currently allow aliases on the first two only, where your version parses it after Nested(Join) as well, but uses the logic you describe to find the inner Table

[2020-07-29 16:00] eyalleshem commented on #223
Well,
My view is from the snowflake perspective - and from this perspective i see 2 advantage to the current solution :
1. Query that would not compile by snowflake - will not passed the parser
2. The alias is actually for the inner table - so i think it be  more easy for the consumer to use it

I agree that if we encounter other DB that allow single table in parens- but not follow the assumptions

[2020-07-29 16:15] eyalleshem commented on #241
Opened also another [PR](https://github.com/ballista-compute/sqlparser-rs/pull/250)for support named argument functions .
(` FUN(a=>exp1, b=>exp2) `)

[2020-07-30 01:36] nickolay commented on #223
I realize that it is more convenient for consumers to have some semantic processing happen in the library, but simply parsing SQL is rather hard, so I'd rather not complicate matters by attempting to guess the semantics during parsing... Happy to hear what others think as well!

[2020-07-30 10:58] eyalleshem commented on #223
@nickolay - according to your suggestion - you would enable parsing joins with aliases even on the generic dialect ?
For example :
`SELECT * from (t1 NATURAL JOIN t2 ) as a1`.

I asked that because the only difference that i see between snowflake and the ANSI sql here that the question if they allow "redundant" parens . so i don't sure that i feel comfortable , to parse that on snowflake, but thro

[2020-07-30 11:24] eyalleshem commented on #223
I think maybe i have other suggestion -

In snowflake dialect :  if the `parse_table_and_joins` return a `NestedJoin` , but this object has only `relation` without `joins`. we will replace the `NestedJoin` with the `TableFactor` that in the `relation`.

This solution will eliminate the problem of aliasing real joins (joins with multiple tables) , as currently  no database support that.

And redund

[2020-07-30 12:28] nickolay commented on #223
That's how it _could_ work if [my yesterday's suggestion](https://github.com/ballista-compute/sqlparser-rs/issues/223#issuecomment-665737253) were implemented, yes. There's no requirement that the generic dialect _must_ be able to parse that, it follows naturally from the proposed design of the AST and lack of validation in the generic dialect...

Your new idea sounds promising though. If losing t

[2020-07-31 08:43] eyalleshem commented on #223
I update the [PD](https://github.com/ballista-compute/sqlparser-rs/pull/244) according to the suggestion ,
I can't  think about use-case that the information about the  redundant parens is important  to something ..

[2020-07-31 15:10] #233 closed

[2020-08-09 13:31] deeprobin opened #257 "AUTO_INCREMENT is not supported."

[2020-08-09 13:32] deeprobin opened #258 "`-Identifiers are not supported"

[2020-08-09 13:32] deeprobin commented on #258
For example CREATE TABLE `test` ...

[2020-08-09 23:45] nickolay commented on #258
This was added recently in https://github.com/ballista-compute/sqlparser-rs/pull/247

[2020-08-09 23:45] #258 closed

[2020-08-09 23:45] nickolay commented on #257
It was added recently in https://github.com/ballista-compute/sqlparser-rs/pull/234

Please check out https://github.com/ballista-compute/sqlparser-rs#contributing when you get a chance.

[2020-08-09 23:45] #257 closed

[2020-09-02 09:39] aisbergde opened #269 "README.md wrong syntax in example: feature => features"
The syntax in the example is wrong

it should be --features

I never used Rust before. I don't plane to be a rust developer, I am a database specialist. But of course I am ready to learn some basics. That's why examples are important and it should be easy to use them.

You could add some more first step documentation:
- install rust using rustup
- use the examples by calling: ...
- what to do to c

[2020-09-02 09:43] aisbergde opened #270 "I can't parse objects in square brackets: Select [a] from [b]"
no sql can't be parsed if square brackets are used (which is normal in mssqlserver)

SELECT DISTINCT
	CurrentDate = T1.CurrentDate,
	CurrentDate_i = A
FROM
	config.[Calendar_T] T1 (NOLOCK)
WHERE
	1 = 1

[2020-09-02 09:46] aisbergde commented on #270
I see, there is --ms option to indicate the dialect, this will work

[2020-09-02 09:46] #270 closed

[2020-09-02 10:20] aisbergde opened #271 "help wanted: extend cli example for batch processing"
it looks like the sqlparser-rs can do what I need
- code of views is stored in mssqlserver
- json parser result should be stored into mssqlserver
- I wan't to be able to do this outside the rust environment, some compilation into a windows program is required to use this program also without installing rust on other machines

if it is to complicated to read the sql source from mssqlserver and to s

[2020-09-02 10:58] aisbergde opened #272 "How to interprete 'B = T1.A' and 'T1.A AS B' as equivalent? (convert "UnnamedExpr" with "op": "Eq" into "ExprWithAlias")"
in views mssqlserver allows 2 ways to define a columns alias. I would like to "normalize" the representation in json. I would like to have the same style in JSON for the same logic. There could be a property to indicate how this was in the original expression to not lost this information.

The best would be, if I could convert the presentation of `B = T1.A` into the presentation of `T1.A AS B`
but

[2020-09-02 15:32] aisbergde opened #273 "parse error with in-column-select-statement"
This mssqlserver view can't be parsed

the issue could be related to the in-column-statement, which for example is used at
- InheritDescriptions_actual
- PK_json

[code]

[2020-09-03 10:44] eyalleshem opened #274 "Anybody home?"
Hi ,
Before 3 weeks i open 4 PR's , and still didn't got any comment on that .
I guess it's related to the august vacations :)  ,  but as it's very different form my experience with previous PR's , I Just want to make sure that this repo still maintained and welcoming contribution.

I will take advantage of the opportunity to also thank @nickolay for his  previous reviews  - that I learned a lot f

[2020-09-07 00:53] nickolay commented on #274
Hey Eyal! I know it sucks to not get timely responses, and I'm sorry about that. It's nice to hear that you appreciate (and not loathe!) my reviews, but doing them takes time, which is unfortunately limited. I hope to get some help maintaining this project, as keeping up the pace is proving hard to pull off.

Also, trying to maintain a FIFO queue was probably a mistake on my part - being stuck on

[2020-09-07 01:25] nickolay commented on #273
I'm not sure what the requested feature is. Please check out this part of the README:

[2020-09-07 01:31] #269 closed

[2020-09-07 01:37] nickolay commented on #269
Thanks, I fixed the typo in the README.

If you're willing to submit specific improvements in a PR, that would be welcome as well!

I don't think we're ready to be marketed to people, who are not ready to learn Rust, yet, as we only have enough manpower to merge PRs.

[2020-09-07 01:44] nickolay commented on #272
I'm not sure what's the question here. It's not the job of the parser to figure out the semantics of the query. I'm not aware of an existing library that does this kind of normalization. Implementing this manually should be straightforward, right?

[2020-09-07 01:53] nickolay commented on #271
I use "Git for Windows" to get the basic unix tools on Windows. Using those you can do:
[code]
...to write the result to a file (parse-sql is `cli.rs` with a few trivial changes to remove logging), and `xargs` to process a directory.

[2020-09-07 01:54] nickolay commented on #271
Also: note that we're likely to change the JSON format in the future.

[2020-09-07 05:18] aisbergde commented on #272
OK, I got this and you are right, it is not part of the parser to manipulate the result but this should be done outside and after parsing.

[2020-09-07 05:38] aisbergde commented on #271
this was the request: to extend the cli.rs a little bit to do so.

But if it could happen that the json format will change then I should not spent to much energy to transform the json in something I need.

[2020-09-07 05:51] aisbergde commented on #273
this is valid syntax:

`select a = (select top 1 c from D) from b`

in the Syntax for SELECT the `select_list` is not deeper specified but it can be a sub query included in ()

After my first evaluations of this parser it looks like it is to complicated to post processing the json. What I need is something between sql formatter and full parser. For example if the statement is

`select a = (select

[2020-09-07 06:43] Dandandan commented on #274
Hey @eyalleshem having some weeks vacation at the moment. I hope to continue contributing again a bit more actively after that!

[2020-09-07 07:03] eyalsatori commented on #274
Good to know :) !!
Thanks @nickolay  and @Dandandan , If I could give some help i will be happy to take part .

[2020-09-07 07:06] eyalleshem commented on #274
Good to know :) !!
Thanks @nickolay and @Dandandan , If I could give some help i will be happy to take part .

[2020-10-11 01:10] rhanqtl opened #277 "Panicking When Parsing Recursive CTEs"
I tested the following recursive CTE with generic, ANSI, MSSQL, MySQL, PostgreSQL, Snowflake, and SQLite dialects.

[code]

The stack backtrace is:

[code]

[2020-10-11 06:43] #277 closed

[2020-10-13 06:59] #223 closed

[2020-10-20 09:09] Thearas opened #279 "Parse create table statement error"
Got an error while parsing a create statement:
[code]
[code]
But the sql can be successfully executed on MySQL.

[2020-10-20 09:23] Thearas opened #280 "Support INSERT IGNORE INTO for MySQL dialect?"
[code]
[code]

[2020-10-20 09:28] #280 closed

[2020-11-22 21:41] Dandandan commented on #279
Thanks for creating the issue. The parser doesn't support the int(4) part yet.

[2020-11-26 08:59] ivanceras opened #282 "Improve fmt::Display for AST to IntoSql separating the SQL statement and values."
The current implementation of converting the AST into SQL statement is using the `fmt::Display` trait which creates a string. With it, all the Value expression is embedded into the generated SQL string. This could potentially be used for SQL injection attacks. I believe this needs improvement and the simplest way to do it is to separate the values from the rest of the generated SQL leaving paramet

[2020-11-26 09:09] ivanceras opened #283 "A separate crate for common types such DataType and Value"
A lot of times when using/implementing an ORM there is a lot of enum matching which DataType should be matching to essentially the same data type for the ORM implementation which ultimately maps to the underlying database DataType. There would be also conversion of Value to and fro  ORM enum Value. If we can move these common types into a thin shared crate, it would remove a lot of conversion code

[2021-01-24 19:29] Jasperav opened #291 "Parameterized queries"
This fails to parse, but it can be successfully executed by SQLite (after providing a value for the parameter):

[code]

Any idea why I get this error message?:

_called `Result::unwrap()` on an `Err` value: ParserError("Expected an expression, found: ?")
thread 'dynamic_queries::go' panicked at 'called `Result::unwrap()` on an `Err` value: ParserError("Expected an expression, found: ?")',_

[2021-01-24 19:37] Dandandan commented on #291
Thanks @Jasperav .
In think the `?` is not something that's supported yet.

[2021-01-27 12:51] H2CO3 commented on #291
I was just going to open an issue about the same thing. Support for other flavors of parameterized queries like `:named`, `@named`, and `$named` would be nice as well.

[2021-01-28 08:27] alex-dukhno commented on #291
see discussions in https://github.com/ballista-compute/sqlparser-rs/pull/265

[2021-02-05 17:33] wseaton opened #292 "Python Bindings"
Hello,

I'm currently maintaining [python bindings for sqlparser-rs](https://github.com/wseaton/sqloxide), was wondering if you'd accept a PR to link back to them through the readme?

Based on my rudimentary benchmarks they are by far the fastest way to accurately parse a SQL AST in python (while also supporting multiple dialects) by a factor of ~50x. I'm currently using them to do audit log analy

[2021-02-11 17:18] beaumontjonathan opened #295 "MySQL Compatibility Issues"
Hi - first want to say what an amazing and fun to work with lib this is!

Looking to use this for a MySQL project, but some of the queries I'm working with aren't supported yet.

It seems for now you are accepting dialect-specific extensions in the mainline parser, so am happy to work on this. I have a fork which fixes each of the following issues. Should I open separate issues/PRs, or is it more

[2021-02-22 17:56] AlexNav73 opened #296 "Escaping of non-latin column names"
Hello!

I'm using `DataFusion` to query my csv file. The problem is: column names consists of Cyrillic letters and within sql query I need a way to escape column names. I've tried: single quotes, double quotes, backticks, square brackets.

In all cases I get the following error:
[code]

Code sample:
[code]

[2021-03-13 22:34] duvall-eb opened #298 "MySQL allows integer interval values"
The usual format for an interval is `INTERVAL 'value' unit`, but MySQL allows `'value'` to be an expression that is either a string or a number. For example:
[code]
both return `2017-05-01`. Currently, the latter syntax is not supported.

[2021-03-24 08:05] DerSaidin opened #301 "Parse errors should show location of error in input sql string"
When rust compiler finds a problem, it shows me exactly where to look:
[code]

When `Parser::parse_sql(...)` fails, it does not tell the user what part of the input caused the error:
[code]

The error should provide a position in the input sql string. Bonus points if it has nice presentation like the rust compiler error messages.

[2021-03-24 08:40] DerSaidin opened #302 "MySQL Compatibility Issues: mysqldump"
I ran into multiple MySQL compatibility issues when attempting to parse a dump produced by `sudo mysqldump dbname > dbname_backup.sql` (also see [mysqldump docs](https://dev.mysql.com/doc/refman/8.0/en/mysqldump.html) or [mariadb docs](https://mariadb.com/kb/en/mysqldump/)).

Here is an example of `mysqldump` generated SQL (this database is from a [WordPress](https://wordpress.com/) installation):

[2021-03-24 12:22] maxcountryman commented on #301
I believe the intent is to address this kind of thing in #189.

[2021-03-28 10:03] 435201823 opened #303 "can not parse "SET TIME ZONE 'UTC'""
It was normal to parse "SET TIME ZONE 'UTC'" a few days ago. Today I tried to parse "SET TIME ZONE 'UTC'" and there was an error.
[code]
[code]

[2021-03-30 12:39] Dentrax opened #304 "consider provide more examples"
Thanks for the project! I am just playing with the parser to get used to it. However, I could not figure out how we get to the components that were parsed from the AST parser. I followed an example as described in [here](https://github.com/ballista-compute/sqlparser-rs/#example). Since only a few examples are [given](https://github.com/ballista-compute/sqlparser-rs/tree/main/examples), I think it

[2021-04-01 11:43] 5225225 opened #305 "Stack overflow when parsing SQL consisting of many imbalanced open parenthesis"
This code segfaults with a stack overflow on both 0.9.0 from crates.io as well as loading from git (Version 35ef0eee3)

[code]

[2021-04-27 00:05] andygrove opened #308 "Where should this repo live?"
Now that Ballista has been donated to Apache Arrow, it seems confusing to keep the `sqlparser-rs` project under the `ballista-compute` GitHub org and I am wondering where this project should live now.

Here are some options:

1. I could just move it back to `andygrove/sqlparser-rs`.
2. We could see if we could donate this project to Apache Arrow but this doesn't seem like a natural fit given that

[2021-04-27 00:07] andygrove commented on #308
@nickolay @benesch @Dandandan @houqp @seddonm1 Let me know if you have any opinions on this

[2021-04-28 06:55] Dandandan commented on #308
I am not sure what the best option to do here would be.
I would say

1. keep it under *something like* the current structure, which is some GitHub org and
2. shared with the current maintainers.

[2021-05-02 07:30] houqp commented on #308
I would prefer github org over personal account so it provides more flexibility for access control, for example, creating different teams with different levels of permissions. If there are other projects that we can move into a general purpose rust db github org, then it's a better route, other wise keeping it in ballista in the short term doesn't seem too bad.

[2021-05-26 14:13] PFGimenez opened #310 "Is it possible to get the concrete syntax tree of a string ?"
Hello,

I need to transform a string containing an SQL request into a concrete syntax tree (not an AST !). Is it possible to get such a tree with sqlparser? Or should I look for another library?

[2021-06-02 15:36] #310 closed

[2021-06-03 05:42] cmoog opened #311 "Use identifiable structs for AST variant fields"
When consuming the generated AST for further processing, one needs to match against and deconstruct `ast::Statement` instances. Currently, the fields of this enum's variants are defined inline... which makes it impossible for downstream code to represent the nested structures as types. For example, consider this structure:

https://github.com/ballista-compute/sqlparser-rs/blob/35ef0eee3857c59827b2

[2021-06-03 10:40] BohuTANG opened #314 "parse_infix: return error instead of panic"
Hello,

Great sql parser in Rust!
We have used it in [datafuse](https://github.com/datafuselabs/datafuse) and works well.
But it always crashed under fuzzer due to the panics in:
https://github.com/ballista-compute/sqlparser-rs/blob/35ef0eee3857c59827b2587bc813218a00dce264/src/parser.rs#L809

Fuzz panic error stack:
[code]

It would be better return error instead of the panic.

Fuzz codes here:
ht

[2021-06-06 10:18] Dandandan commented on #314
Thanks @BohuTANG. I agree an error instead of panicking would be a good improvement.

[2021-06-06 11:08] BohuTANG commented on #314
If there's no plan, I'm glad to take this issue :dancers:

[2021-06-08 11:44] iamazy opened #317 "Support `AS OF SYSTEM TIME` to read historical data"
Hi, there

I want to read historical data by using `SELECT * FROM BOOK AS OF SYSTEM TIME '2020-01-01 11:12:13'`, but sqlparser-rs doesn't seem to support. Is there any plan to support this feature ? You can refer to [AS OF SYSTEM TIME](https://www.cockroachlabs.com/docs/v21.1/as-of-system-time.html)

In [toydb's parser](https://github.com/erikgrinaker/toydb/blob/689aff89c282b8f7953d6431fc576d08456

[2021-06-22 05:05] #314 closed

[2021-07-09 18:02] TheSchemm opened #321 "Allow Parsing of Hexadecimal Literals that start with '0x'"
I am starting a project in which I am parsing some MSSQL queries and I came across:
`select collationname(0x0904D02400)`
Which resulted in a parse error: `Expected ), found: x0904D02400`

It doesn't seem to be in the official SQL spec but both [MySQL](https://dev.mysql.com/doc/refman/5.7/en/hexadecimal-literals.html) and [Sql Server](https://docs.microsoft.com/en-us/sql/t-sql/data-types/constants-

[2021-07-14 18:52] zrneely opened #322 "Unexpected failure parsing CREATE TABLE statement"
When parsing the following statement with the SQLite dialect:

[code]

the result is:

`ParserError("Expected column name or constraint definition, found: 'id'")`

but I expect that this would be correctly parsed as a CREATE TABLE statement with `""` as the table name. From the SQL grammar, the table name in a CREATE TABLE statement appears to be a [local or schema qualified name](https://jakewhea

[2021-07-17 02:44] dclong opened #325 "Is formating SQL code on the roadmap of this project?"
Can we use sqlparser-rs to format SQL code?

[2021-08-17 10:50] leiysky opened #329 "Support alias of derived table reference"
I was testing `sqlparser-rs 0.9.0`, and found it doesn't support alias of derived table reference.

The following code will produce error:
[code]

While the SQL query can work fine in PostgreSQL.

[2021-08-20 06:25] houqp commented on #325
Not builtin, but you can surely use the AST to generate code in the styling you prefer.

[2021-08-20 13:15] andygrove commented on #308
The repo has moved to https://github.com/sqlparser-rs/sqlparser-rs for now. We can consider renaming this org to something more generic if we want to add other crates.

[2021-08-20 13:38] #308 closed

[2021-08-20 17:58] alamb commented on #311
Is the primary usecase of this proposal so that downstream code can re-use `AnalyzeStatement` directly?

[2021-08-20 18:01] cmoog commented on #311
Yes, exactly.

[2021-08-25 15:09] ever0de opened #339 "[Discussion] Remove use of `dialect_of` macro"
What was the purpose of the current `Dialect`?
The `dialect_of` macro makes it difficult to modify your code whenever you add support for Dialect.
And besides the identifier support of Dialect, it seems that it can also support query (Expr).

But... if you have other intentions for macros
Since there is a problem, I would like to discuss it with the maintainers.

[2021-08-25 15:19] ever0de commented on #339
- When implementing the TRIM function function
- Different Dialects support standard and non-standard.

E.g

- Dialect Trait
-
[code]

- Implement parser
- `parse_trim_expr` function

[code]

[2021-08-25 15:30] ever0de commented on #339
[There was an issue related to this](https://github.com/sqlparser-rs/sqlparser-rs/issues/207)

[2021-08-25 15:34] ever0de commented on #339
Ast Display should also be considered.
Looks like this should be a different issue.

[2021-08-25 16:57] #321 closed

[2021-09-02 03:26] tvallotton opened #342 "alter table drop constraint throws an error."
Hi, the following test does not pass. I would expect this to work.
[code]
(Also,  `DropConstraint { name: Ident }` should probably also contain fields for cascade/restrict, and possibly if_exists )

[2021-09-02 03:34] tvallotton commented on #311
I totally agree with this proposal. This would simplify my code considerably. I've got structs that are complete translations of some enum variants.

[2021-09-02 04:02] tvallotton commented on #342
Note that when constructing the value by hand and transforming it to a string, we get the expected result:
[code]

[2021-09-04 15:50] tvallotton commented on #311
I forked the project and made those changes if you want to see how it would look.

[2021-09-06 08:23] hu6360567 opened #346 "Generate SQL from Statement"
Is there any plan to support deparse AST back to sql, so that I can distribute sub queries to DBMS distributely?

As https://github.com/apache/arrow-datafusion/issues/970 describes, I'm trying to analyse and optimize SQL query which involves mutli datasets located in DBMS distributely.
Sub queries should be sent to corresponding executors to execute and aggreate at another certain executor. I'd li

[2021-09-09 15:58] alamb commented on #311
I don't feel qualified to approve / accept this level of change without some additional buy in from @nickolay  / @andygrove  / @Dandandan . https://github.com/sqlparser-rs/sqlparser-rs/issues/311#issuecomment-902861958 seems like a good usecase to me but it is a pretty major change for all users of sqlparser-rs.

[2021-09-09 19:36] 0xA537FD opened #350 "#[non_exhaustive] on most enum types"
I would like to suggest to use the `#[non_exhaustive]` on most enum types as many of them will most likely be extended in the future and this would enforce the user of the library to use a catch all arm in any `match`.

If you agree we could discuss on which enums it would be reasonable or whether every enum should have it and I would do the changes.

[2021-09-10 02:31] #317 closed

[2021-09-14 14:57] MRGRAVITY817 opened #354 "[Discussion] Add `gluesql` in README as an implemented open source library"
![image](https://user-images.githubusercontent.com/41038636/133281571-c80f319a-5ca4-4f45-8045-d2d1fd478aaa.png)

GlueSQL is trending recently, and it uses `sqlparser-rs`.
https://github.com/gluesql/gluesql
https://github.com/trending/rust

[2021-09-16 01:35] houqp commented on #354
Please feel free to send us a PR @MRGRAVITY817

[2021-09-22 07:20] SGZW opened #359 "The current parser does not support parsing create database, No one calls parse_create_database function"

[2021-09-22 08:00] SGZW commented on #359
can i take a pr to fix it ?

[2021-09-22 22:44] houqp commented on #359
Yes, please feel free to send us a PR.

[2021-09-27 20:34] alamb commented on #359
🙏  thank you @SGZW

[2021-09-27 20:34] alamb commented on #354
Closed in https://github.com/sqlparser-rs/sqlparser-rs/pull/355

[2021-09-27 20:34] #354 closed

[2021-09-27 20:36] alamb commented on #350
According to  https://doc.rust-lang.org/reference/attributes/type_system.html

This seems like it may be a fairly significant impediment to using `sqlparser-rs`

[2021-09-27 20:43] Dandandan commented on #350
Counterargument: by adding a `#[non_exhaustive]`, each implementation is required to a catch all arm, which might require for the implementation to be fallible / return an `Err` or `Option` (which makes code more complex). Another downside is that with a next upgrade which introduces the new arm, the downstream library can not easily upgrade by implementing the extra arms by following/fixing the c

[2021-09-30 07:41] 0xA537FD commented on #350
yeah on second thought this seems like a rather bad idea :)

[2021-09-30 07:41] #350 closed

[2021-10-06 08:31] hu6360567 commented on #346
directly call `to_string` method of statement object should work as expect.

[2021-10-06 08:31] #346 closed

[2021-10-16 18:27] WesleyAC opened #362 "MySql dialect doesn't handle escaped single quotes"
The following fails to parse:

[code]

Instead returning:

[code]

But I believe it shouldn't — `mysqldump` generates SQL that is escaped like this.

Am I doing something wrong here, or is this a bug?

[2021-11-03 04:36] rukai opened #363 "Remove or document `long: bool` field in `Value::Number`"
Value::Number should be changed from a tuple variant to a struct variant so that the field names are self documenting.
Something like: `Number { value: String, long: bool }`

Possibly the long field could be just removed instead but not im not very familar with various SQL languages.

[2021-11-06 02:56] Jimexist opened #364 "feature request to support parsing copy statements"
Top level copy to and copy from statements as documented in [Postgres][1]

[1]: https://www.postgresql.org/docs/current/sql-copy.html

[2021-11-24 12:22] yuval-illumex opened #369 "Trino - Add Support in Date/Time keywords"
The following functions are not supported:

current_timestamp
current_date

[2021-11-30 22:19] iho commented on #132
How I can help with that?

[2021-12-03 14:38] datocrats-org commented on #161
I wanted to propose an approach that may be verbose but could help at least in testing and in deriving a way to output SQL from AST per #18 (which I think would require spans to tokens implement).  My goal is to read how each portion of SQL is parsed and eventually rewritten, and to choose how any comments are maintained or removed during the rewrite. I'd like to be able to visualize them in a git

[2021-12-03 15:27] datocrats-org opened #371 "Data model or table summarizing equivalent key - SQL statement pairs"
I would like to work on #18  and in order to do that I think I need to build a table of equivalent keys in your JSON output and their SQL equivalent. I want to start on something simple select statments with a few types of functions, aggregations, and joins.  Is there any existing table showing descriptions of the equivalent SQL statements, where any related content can be found in the JSON tree?

[2021-12-12 05:42] nickolay commented on #311
https://github.com/sqlparser-rs/sqlparser-rs/issues/40 could be marked as a duplicate of this issue as well. As mentioned there, I didn't think creating a separate struct for _every single variant_ (even those holding one or two fields) of every enum was worth the breakage, but extracting complex variants like `Statement::Analyze` is something we have done before.

In https://github.com/sqlparser-

[2021-12-12 06:04] nickolay commented on #339
The `dialect_of!(parser is Dialect1 | Dialect2 | GenericDialect)` helper was introduced in https://github.com/sqlparser-rs/sqlparser-rs/pull/254 to let the parser branch on the dialect's type. An example where such branching is required is when the grammars of various dialects conflict, e.g. https://github.com/sqlparser-rs/sqlparser-rs/issues/241#issuecomment-664377731

I do prefer branching on sp

[2021-12-12 21:58] alamb commented on #40
Closing as a dupe of #311 as suggested in https://github.com/sqlparser-rs/sqlparser-rs/issues/311#issuecomment-991838838

[2021-12-12 21:58] #40 closed

[2021-12-12 21:58] alamb commented on #311
Your guidance makes a lot of sense to me @nickolay  -- thank you

[2021-12-13 03:37] monadbobo opened #380 "Will the key in MapAccess support Express?"
The index of an array in ClickHouse can be an expression such as :

[code]

[2021-12-13 08:51] houqp commented on #380
Looks like a reasonable feature to add? ping @alamb @Dandandan @Jimexist

[2021-12-13 11:35] alamb commented on #380
I agree extending support for MapAccess sounds like a good idea to me 👍

[2021-12-16 14:53] yuval-illumex opened #384 "Trino - LIMIT and OFFSET order is diffrent"
While in databases like postgres the order is LIMIT and then OFFSET,
In Trino it's the other way around - OFFSET and then LIMIT.

https://trino.io/docs/current/sql/select.html

[2021-12-27 08:21] xudong963 opened #394 "support Any/AllSubquery exprs"

[2021-12-28 08:09] wbtlb opened #395 "join query in multiy table"
Hi,
[code]
can be parsed successed.

[code]
will be failed

any idea?

[2021-12-31 00:29] tvallotton opened #398 "distinguishing between `Int` and `Integer`"
Currently the parser will parse `INT` and `INTEGER` into the same AST representation. It will later serialize it back all into `INT`. Unfortunatly, in SQLite `INT` is not recognized as a valid type. This means that primary keys with `INT` as a type do not enforce type checking nor do they support autoincrementing functionality.
Thus, parsing this file and displaying it back again would introduce a

[2022-01-06 18:41] e-dard opened #400 "[PG Dialect] `SELECT ARRAY(SELECT 1)` fails to parse"
Whilst working on a project that uses `sqlparser` to parse some real SQL queries from a common PG client (PGAdmin 6.1) I found that the following query emitted by PGAdmin at startup fails to parse correctly:

[code]

I poked around a bit and managed to reduce the failing query to:

[code]

which against PG 13 produces the following results:

[code]

However, the following program panics:

[code]

[2022-01-13 17:51] schreter commented on #145
I'm also missing parameter placeholder support.

We considered using sqlparser as the parser for a (for now) "demo" Rust-based frontend to our Rust-based data store backend. Ideally, it should become the default frontend. However, to support prepared statements, placeholder support is needed. In our SQL dialect, those are specified with a question mark, as used in most "large" RDBMSs, like MS SQL,

[2022-01-23 15:17] not-my-profile opened #404 "`Parser::parse_query` doesn't detect wildcard syntax errors"
For some reason `Parser::parse_query` thinks the following are valid queries (whereas `Parser::parse_sql` correctly detects them as syntax errors):

[code]

Code to reproduce:

[code]

[2022-01-23 16:25] not-my-profile opened #405 "Cannot distinguish between `SELECT * FROM foo` and `SELECT * FROM foo()`"
`sqlparser::ast::TableFactor::Table` just represents the arguments as a `Vec<FunctionArg>` both
`SELECT * FROM foo` and `SELECT * FROM foo()` and are parsed as:

[code]

This is apparently a regression that was introduced in 5652b4676c65f0875fd8c4849dd7cb27c819bef6 (#73).

[2022-01-24 08:54] Uchiha007 opened #406 "the syntax 'limit #,#' is not supported"

[2022-01-24 17:32] not-my-profile commented on #406
From which SQL dialect is this?

[2022-01-27 05:57] Uchiha007 commented on #406
AnsiDialect, MySqlDialect

[2022-02-04 16:35] Marwes opened #410 "Quoted identifiers do not handle escaped quotes"
Looking at the code https://github.com/sqlparser-rs/sqlparser-rs/blob/ea0eb1be617635b29d49d712be22a9a568d02366/src/tokenizer.rs#L417-L430 and writing a naive test it doesn't seem like quoted identifiers `"quoted "" identifier"` handle escaped quotes (`""`) in anyway. Unless I am missing something I'd be happy to make a PR to implement these.

https://jakewheat.github.io/sql-overview/sql-2016-found

[2022-02-07 15:05] #410 closed

[2022-02-08 14:52] alamb commented on #406
https://github.com/sqlparser-rs/sqlparser-rs/pull/370 attempts to add support for the syntax, but I am little concerned with the implementation. I'll try and whip up a new PR

[2022-02-09 11:43] alamb commented on #384
Fixed in https://github.com/sqlparser-rs/sqlparser-rs/pull/385

[2022-02-09 11:43] #384 closed

[2022-02-09 11:43] alamb commented on #342
fixed in https://github.com/sqlparser-rs/sqlparser-rs/pull/396

[2022-02-09 11:43] #342 closed

[2022-02-09 11:44] #406 closed

[2022-02-09 11:45] #325 closed

[2022-02-09 11:45] alamb commented on #325
question is answered

[2022-02-09 11:46] alamb commented on #274
I am trying to keep the lights on with reviews now, but this crate is not likely to get major changes / large additional bandwidth anytime soon

[2022-02-09 11:46] #274 closed

[2022-02-09 14:36] #369 closed

[2022-02-14 20:45] yaroslavambrozyak commented on #310
Hi @PFGimenez, have you found a solution? Thanks

[2022-02-17 12:58] alamb commented on #145
@gamife has contributed an implementation here: https://github.com/sqlparser-rs/sqlparser-rs/pull/420

I'll try and cut a new release in the next week or two

[2022-02-17 12:58] #145 closed

[2022-03-08 18:38] alamb commented on #405
@not-my-profile  we would be happy to accept a proposed fix

[2022-03-08 18:40] alamb commented on #398
Thanks @tvallotton  -- please feel free to submit a patch to correct it

[2022-03-09 18:54] ryan-h-bright opened #434 "tokenizer is not case-sensitive for keyword determination"
Consider the following valid SQL statement:
`UPDATE machine_boards21
SET type = 'hybrid', model = 'LX21'
WHERE id = 'machine1';`

tokenizing produces the following output:
`Word(Word { value: "UPDATE", quote_style: None, keyword: UPDATE }), Whitespace(Space), Word(Word { value: "machine_boards21", quote_style: None, keyword: NoKeyword }), Whitespace(Newline), Word(Word { value: "SET", quote_style:

[2022-03-11 02:31] Ted-Jiang opened #435 "extract operator: add support for `week` keywords"
Support ` EXTRACT(WEEK FROM to_timestamp('2020-09-08T12:00:00+00:00'))`

[2022-03-11 03:28] slhmy opened #437 "Carry exact expected token type in `ParserError`"
Currently `sqlparser-rs` return a `&str` to tell which type of token parser is expecting:
[code]

When a SQL string is not completed.
Return an exact `TokenType` will be better, this can deliver help for developing tools like SQL complete tools etc.
[code]

[2022-03-12 19:17] #435 closed

[2022-03-14 12:28] mikezhouhan commented on #359
still not fixed, how is it going bro

[2022-03-16 01:55] kyle-mccarthy opened #439 "MySql dialect doesn't handle double quotes"
The MySql dialect doesn't parse double quotes even if escaped.

[code]

Output:

[code]

And

[code]

Output:

[code]

[2022-03-16 04:21] kyle-mccarthy commented on #298
I am running into this issue as well. mysql also allows for referencing columns in the unit part of the interval.

[2022-03-17 13:43] matthewmturner opened #440 "Support DATABASE or CATALOG parameter as part of `CREATE SCHEMA`"
Realized it doesnt support DATABASE or CATALOG field while working on https://github.com/apache/arrow-datafusion/pull/1959

[2022-03-18 11:56] step-baby opened #442 "The "SET ROLE 'Postgres' "statement cannot be parsed"
test code:
[code]

result:
[code]

[2022-03-22 09:56] 46bit commented on #305
@alamb Hi, pinging you as a maintainer. I want to use this crate, but I'd need to fix this issue to prevent users from triggering stack overflows. Hoping to get some feedback on whether you'd accept a fix.

Right now the `Parser` struct doesn't do any tracking of stack size. What I'm thinking is adding depth-limited variants of each method that take an extra `depth: usize` parameter. Each method w

[2022-03-22 10:18] alamb commented on #305
Hi @46bit  -- Thank you for offering.

The idea of adding a `max_depth` parameter to the existing (non `pub`) methods seems reasonable to me. Hopefully the interface that most external users see would remain the same

Also, for what it is worth, I have seen rust stack sizes *significantly* larger in debug code than release code -- so the actual stack limit may be much higher in practice in release

[2022-03-22 10:55] 46bit commented on #305
@alamb Thanks for such a quick response, I appreciate it. I'll get working on the PR soonish and let you know how it goes :)

[2022-03-22 11:42] 5225225 commented on #305
Might be worth looking at what `serde_json` does, since I know they definitely have a depth limit by default. Their limit is 128.

[2022-03-22 13:05] alamb commented on #442
Thanks for the report @YJX051212 -- please feel free to submit a PR to fix this issue

[2022-03-22 15:25] 46bit commented on #305
serde-json is using a `check_recursion { ... }` macro each time it recurses deeper: https://github.com/serde-rs/json/blob/master/src/de.rs#L1273-L1304. That works OK for them, they only use it 8 times. But sqlparser branches a lot more and I think we'd use it hundreds of times:

[code]

The ideal from my point of view would probably be a macro annotation on each function, like this:

[code]

Those

[2022-03-22 18:17] alamb commented on #305
I don't understand why they need to be in a separate crate

Adding a macro to check recursion seems like a good idea to me.

[2022-03-22 18:23] 46bit commented on #305
Specifically the function annotation. As I understand it those have to be proc macros, and proc macros have to be in a separate crate (fourth paragraph of https://doc.rust-lang.org/reference/procedural-macros.html.)

[2022-03-22 18:27] alamb commented on #305
🤔  I am not sure how much time I have to devote to figuring out how to release multiple crate versions in parallel for this crate

[2022-03-23 08:48] liukun4515 opened #445 "Support the `sum0` in the sql parse"
Refer to https://github.com/apache/arrow-datafusion/issues/2067

[2022-03-23 22:12] maxwell8888 commented on #322
I seem to be having a similar problem parsing `"CREATE TABLE 'addressx' (\n  id INTEGER PRIMARY KEY,\n  'name' TEXT NOT NULL,\n\n  business_id INTEGER NOT NULL,\n\n  FOREIGN KEY(business_id) REFERENCES business(id)\n)"`. It seems like the common problem is column names in single quotes. Is this meant to be supported by the library or is it a bug/missing feature?

[2022-03-28 02:31] nickolay commented on #305
Why? I'd expect only a few productions of the SQL grammar to support recursion (e.g. subqueries, subexpressions, EXPLAIN-like commands that operate on other statements).

If we track the recursion depth only when recursing, maintaining the recursion counter manually shouldn't be much of a problem.

Also: were you really going to add _an extra depth: usize parameter to the various parse methods_ or

[2022-03-29 09:52] 46bit commented on #305
I'd intended to track the parser's call stack. Good point though.

[2022-03-29 12:31] asad-awadia opened #448 "Where is 'Statement'?"
I am using parser to get an ast which returns a vector of statements but i cant find what statement is and what methods are available on it

[2022-03-30 07:15] slhmy opened #449 "Support `UPDATE SET FROM` statement"
In some database like Postgres, it is allow to run `Update` statement like the following one:
[code]

[2022-04-02 10:34] #449 closed

[2022-04-04 13:24] KyGost opened #453 "`CREATE DATABASE` location"
#451 implemented support for `CREATE DATABASE` queries.
It includes two tests for the query.

`Statement::CreateDatabase` has two additional fields: `location` and `managed_location`. The syntax for these is not detailed; neither in the PR, nor anywhere else I can find.

1. Perhaps this could be detailed in the docs
2. Perhaps tests could be added for these fields
3. What is the syntax for these f

[2022-04-05 06:38] KyGost opened #454 "`Database` `ObjectType`"
Now that `CREATE DATABASE` is supported, it would be great if `ObjectType::Database` were available for `DROP DATABASE`.

[2022-04-08 07:50] slhmy commented on #442
Hi 👋, interesting in this topic.
I will follow this doc and raise a PR.
https://www.postgresql.org/docs/13/sql-set-role.html

[2022-04-08 10:05] alamb commented on #442
Thanks @slhmy

[2022-04-12 15:46] earney opened #457 "Add Show Indexes from tablename syntax"
I would like to see the following syntax supported...

`Show Indexes from tablename;`

[2022-04-13 18:45] #442 closed

[2022-04-14 13:26] earney opened #459 "join syntax"
If we do a join based on the syntax:
` select a.id, b.id from mytable a join mytable1 b on a.id=b.id;`

We get a single TablewithJoins strcut that shows how the join occurs (see below), but if we do:

`select * from mytable a, mytable b where a.id=b.id;`
We get two TableWithJoins but there is nothing that says how these two are joined together..  Should these two select statements produce the same

[2022-04-15 16:45] cphares opened #460 "Add formatter to output AST back as SQL Statement"
As a DBA, I would love the ability to take a statement, load it into an AST, do some manipulation on the AST, and then output the resultant SQL statement.

*Very* new to RUST so not sure how difficult this might be to accomplish but would be incredibly useful!

[2022-04-15 17:01] poonai commented on #460
This can be achieved by just printing the statement.

I do the exact same at inspektor

here is the example https://github.com/poonai/inspektor/blob/main/src/postgres_driver/protocol_handler.rs#L688

[2022-04-15 19:09] cphares commented on #460
I'm trying but I don't quite get it.  What logic would I add to the example in README.md to output `ast` as SQL?  I tried to crib from your example but I am failing to get it to work.

[2022-04-16 06:35] poonai commented on #460
here is the minified example.
[code]

check whether this helpful for you :)

[2022-04-16 11:52] poonai commented on #448
`Statement` is a `enum`. you can find it's definition here https://github.com/sqlparser-rs/sqlparser-rs/blob/main/src/ast/mod.rs#L687

[2022-04-16 23:42] asad-awadia commented on #448
Thanks

[2022-04-16 23:42] #448 closed

[2022-04-17 00:31] earney commented on #459
Here is the output for the 0.16.0 version:

sql: "SELECT a.* FROM mytable a join mytable b on a.id=b.id"
AST: [Query(Query { with: None, body: Select(Select { distinct: false, top: None, projection: [QualifiedWildcard(ObjectName([Ident { value: "a", quote_style: None }]))], into: None, from: [TableWithJoins { relation: Table { name: ObjectName([Ident { value: "mytable", quote_style: None }]), alia

[2022-04-17 00:56] earney commented on #457
This is implemented in version 0.16.0

ql: "show indexes from mytable"
AST: [ShowVariable { variable: [Ident { value: "indexes", quote_style: None }, Ident { value: "from", quote_style: None }, Ident { value: "mytable", quote_style: None }] }]

[2022-04-17 00:56] #457 closed

[2022-04-17 07:38] nannany opened #461 "Can't evaluate `CREATE TABLE` with `INDEX` in MySQL"
`sqlparser-rs` couldn't evaluate following MySQL statement.

[code]

Evaluating this statement by using cli caused following error.

[code]

 I tried version 0.16.0.

[2022-04-17 22:18] max-sixty opened #464 "Not possible to have timezone in postgres"
(as ever, thanks for this excellent library!)

It seems that in postgres, specifying a timezone in a string is not enough for it to parse a timezone — [postgres requires `WITH TIMEZONE`](https://www.postgresql.org/docs/current/datatype-datetime.html):

[code]

And `sqlparser` seems to discard that term:

https://github.com/sqlparser-rs/sqlparser-rs/blob/8f207db0598139310211e808ea6e5f853d3a3a96/src

[2022-04-18 17:14] nickolay commented on #459
Since no-one had the chance to reply yet, and I was around when the current implementation landed in #109, I can share my perspective.

The parser's job is to produce the parse tree, i.e. determine the syntactic structure of the input text according to the grammar of the language. That's what it currently does -- you can see that in the SQL grammar, which we roughly follow, [FROM](https://jakewhea

[2022-04-18 21:20] #460 closed

[2022-04-18 21:20] cphares commented on #460
Question answered!  Thx @poonai

[2022-04-22 05:54] elferherrera opened #467 "Create SQL query from AST"
Is it possible with this crate to create a SQL query (string) from an AST?
This would be the opposite direction of parsing

[2022-04-22 06:30] poonai commented on #467
Hey @elferherrera,

refer this issue https://github.com/sqlparser-rs/sqlparser-rs/issues/460

[2022-04-22 06:49] elferherrera commented on #467
Thanks. Just what I was looking for

[2022-04-22 06:49] #467 closed

[2022-04-26 14:33] andygrove opened #472 "Make `NOT EXISTS (subquery)` and `NOT IN (subquery)` more consistent in the AST"
The AST has one variant to support both `IN (subquery)` and `NOT IN (subquery)`:

[code]

However, the variant for EXISTS does not handle `NOT EXISTS`:

[code]

`NOT EXISTS` is represented in the AST by wrapping `Exists` in a `UnaryOp` with `UnaryOperator::Not`.

It would be nice if we could use a more consistent approach.

[2022-04-26 20:44] alamb commented on #472
I would prefer to see

[code]

[2022-04-27 07:01] artorias1024 commented on #461
I encountered a similar problem：
`CREATE` TABLE users (id INT, name VARCHAR(10),  UNIQUE KEY `uk_union` (id));`

thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: ParserError("Expected a list of columns in parentheses, found: KEY")', src/main.rs:14:48

[2022-04-28 14:14] ovr opened #476 "Support Any/All operator"
Hello!

`any` and `all` operators should have additional expression types instead of parsing it as BinaryOperator where the right side is a function.

Thanks

[2022-05-09 12:34] step-baby opened #486 "Expected literal number, found: $1"
test code:

[code]

result:

[code]

[2022-05-12 14:59] earney commented on #459
Thanks.. That makes sense.

[2022-05-12 14:59] #459 closed

[2022-05-16 02:26] step-baby opened #497 "The field name in SQL cannot be the same as the keyword name"
test SQL:

[code]

[code]

result:
[code]

I think the reason for this mistake is that:
[code]
[code]

expected:

The parameter type after set should be Nokeywork

[2022-05-17 17:32] ovr commented on #476
Implemented & released.

[2022-05-17 17:32] #476 closed, assigned to nobody

[2022-05-18 17:17] 46bit commented on #305
I've opened an PR for this: https://github.com/sqlparser-rs/sqlparser-rs/pull/501. Feedback welcome.

[2022-05-19 10:52] alamb commented on #305
Thank you -- I am a little behind on sqlparser reviews at the moment. I'll
try and take a look over the weekend. Hopefully we can get some other
community feedback as well

On Wed, May 18, 2022 at 1:18 PM Miki Mokrysz ***@***.***>
wrote:

[2022-05-22 11:07] Sibz commented on #461
same here:
[code]
`unexpected end of input, sql parser error: Expected ',' or ')' after column definition, found: (`

[2022-05-22 11:34] Sibz commented on #497
I think name and value are reserved words. Perhaps surrounding in back-ticks will help
[code]

[2022-05-22 11:44] Sibz opened #503 "DATETIME not parsed into enum DataType"
We have:
DATE = DataType::Data
TIME = DataType::Time
TIMESTAMP = DataType::Timestamp

but DATETIME = DataType::Custom

[2022-05-22 14:33] Sibz opened #504 "ON UPDATE not supported"
[code]
`ON UPDATE` is not yet parsed as valid

[2022-05-25 20:01] #405 closed

[2022-05-30 03:19] houqp opened #513 "Support escape string constant"
The following query results in parser error `Expected ), found: '\n'`:

[code]

[2022-05-30 03:22] houqp commented on #513
Do we want to unescape the string during parsing or delegate that to the consumer of the crate?

[2022-05-30 11:53] ovr commented on #513
I already did that in https://github.com/sqlparser-rs/sqlparser-rs/commit/2c0886d9fe8cc0e6fb91ba63173d021384f24473

Thanks

[2022-05-30 17:38] houqp commented on #513
Oh nice, thank you @ovr !

[2022-05-30 17:38] #513 closed

[2022-06-07 08:08] Sibz opened #518 "VARBINARY or BLOB columns not parsed"
I see the DataType enum has variants for these but it doesn't parse them correctly, or perhaps I am doing something wrong.

Sql:
[code]

Error:
[code]

[2022-06-09 05:21] #279 closed

[2022-06-09 08:34] pawel-big-lebowski opened #519 "snowflake column identifier for copy into / query data staged in files"
According to documentation, Snowflake allows:
 * [query data staged in files](https://docs.snowflake.com/en/user-guide/querying-stage.html#required-parameters) with an identifier of a form `[<alias>.]$<file_col_num>[.<element>]`
 * [copy into table](https://docs.snowflake.com/en/user-guide/data-load-transform.html) with an column identifier containing `$` character like `select t.$1,t.$2,t.$3 from

[2022-06-09 12:15] 46bit commented on #298
ClickHouse is the same, it supports `INTERVAL 1 HOUR` without requiring the `1` to be quoted. https://clickhouse.com/docs/en/sql-reference/operators/#interval

[2022-06-13 09:53] frolovdev commented on #504
Hope I can help :d

[2022-06-13 10:06] frolovdev commented on #472
I guess I can help 🚀

[2022-06-13 11:02] frolovdev commented on #472
@alamb but what do you mean by `expr` in exists, because your comment isn't clear for me right now

[2022-06-13 12:33] #504 closed

[2022-06-14 21:02] #472 closed

[2022-06-16 07:16] frolovdev opened #524 "Add support of locations in AST"
**Proposal**

I go through the sources of the parser and find out that there is no such thing as a location in AST

I have in mind something like this:

lexer layer

[code]

parser layer

[code]

**Behind motivation**
Much better error reporting

**Proposal design highlights**

Why `Option<Loc>`?

We can allow to run the CLI in different modes, with emitting and not emitting locations

**Plan of m

[2022-06-16 08:43] frolovdev commented on #398
I guess I can help

@alamb good day, and how the patch actually should look like? We should have different logic of serialization for MYSQL? Or do you mean something else

[2022-06-16 15:24] alamb commented on #398
Hi @frolovdev  -- thank you

I think the basic philosophy of this crate is that the parsed AST mirrors the SQL and users of the crate can handle it appropriately to their usecase.

In this case I would recommend adding a `DataType::Integer` to the existing enum `DataType::Int` https://github.com/sqlparser-rs/sqlparser-rs/blob/main/src/ast/data_type.rs#L57 so that `x INT` and `x INTEGER` parse to d

[2022-06-19 10:01] omer-shtivi opened #526 "Make Ident enum"
Ident now is a struct with a quote style:
[code]
Now it is a bit risky, because if the char isn't the expected it panics:
[code]
Now it is true that it shouldn't never get to it, because when we tokenize we are only allowing those to be the quote style, but it is still risk for panics.

I suggest to move Ident to be an enum:
[code]
Now the Display will be:
[code]
And we can also implement a method

[2022-06-21 13:32] #398 closed

[2022-07-01 02:19] asad-awadia opened #531 "ToJson"
How can I setup conversion of statement to json?

Serde doesn't seem to be working - Do I need to pass `features`? to my cargo build?

The cli example works - but I want to do it as a dependency in my project

[2022-07-01 02:23] asad-awadia commented on #531
`the trait `serde::ser::Serialize` is not implemented for `Statement``

[2022-07-01 03:41] asad-awadia commented on #531
not sure why the cfg attribute is called serde when it clashes with the dependency serde
but the example cli uses json_example

[2022-07-01 04:18] asad-awadia commented on #448
@poonai how to make statement implement serialize type to convert to json?

[2022-07-01 04:21] asad-awadia commented on #531
@nickolay @panarch

[2022-07-01 04:26] panarch commented on #531
Serde is optional feature so you need to enable it.
[code]

ref. https://github.com/gluesql/gluesql/blob/dc994524c85ee304d52abd1297baf8305e6d56a4/core/Cargo.toml#L27

[2022-07-01 14:24] asad-awadia commented on #531
@panarch do I have to include serde if I need to use it in my app? Like for my structs? or does it come in transitively?

[2022-07-01 16:14] #531 closed

[2022-07-08 08:16] thomastyg opened #534 "UPDATE ... FROM ( subquery ) only supported in PostgreSQL"
Hi 👋

The `UPDATE <table> FROM (SELECT ...)` statement is only supported with `PostgreSQL` dialect.

It should be also supported for other technologies.
Here are a few examples:
- [BigQuery](https://cloud.google.com/bigquery/docs/reference/standard-sql/dml-syntax#update_statement)
- [Snowflake](https://docs.snowflake.com/en/sql-reference/sql/update.html)
- [Redshift](https://docs.aws.amazon.com/re

[2022-07-08 16:04] MRGRAVITY817 opened #535 "Support `CREATE TYPE` for creating custom type"
Hello, I think it would be nice to add `CREATE TYPE` statement for creating custom composite type.

### Use cases
[code]

### References
- Postgres: https://www.postgresql.org/docs/current/sql-createtype.html
- SQL server: https://docs.microsoft.com/en-us/sql/t-sql/statements/create-type-transact-sql?view=sql-server-ver16

[2022-07-10 19:32] waitingkuo opened #537 "Nested alias doesn't work"
from apache/arrow-datafusion#2867

while we have nested alias, the outer doesn't work

[code]

[code]

while this works

[code]

[2022-07-12 20:51] JamieSlome opened #538 "Create SECURITY.md"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@w-henderson) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a se

[2022-07-15 16:20] olalonde commented on #175
I also would like to access comments in the AST :( Any progress on this?

[2022-07-15 17:22] olalonde commented on #524
Some more prior art: https://github.com/sqlparser-rs/sqlparser-rs/pull/189

I'd be very interested in a lossless AST. I wanted to use this library to collect comments from a SQL file but that use case isn't supported right now since comments are discarded.

[2022-07-16 09:20] Sibz opened #543 "MySQL - On Update not taking expression"
[code]
does not work

[2022-07-16 09:26] Sibz commented on #543
I am trying to resolve this
https://github.com/rustanigans/sqlparser-rs/tree/fix-mysql-on-update

But unable to work out how to make the test:
https://github.com/rustanigans/sqlparser-rs/blob/2585a03b6d7e700e0fe619e53e641af05c86bf9a/tests/sqlparser_mysql.rs#L853-L875

Also the ColumnOption::DialectSpecific only takes vec of tokens, so I had to add one for this that takes an expr:
https://github.co

[2022-07-27 11:46] bugoverdose opened #544 "The way `XOR` works is different from `AND` and `OR`"
When you run `a > 10 OR b < 10`, `BinaryOp`s wrap around `(a > 10)`, `(b < 10)`, and `(a > 10) OR (b < 10)`.

However, when you run `a > 10 XOR b < 10`, `BinaryOp`s wrap around `(10 XOR b)`, `(a > (10 XOR b))`, `((a > (10 XOR b)) < 10)`. Which is really confusing and hard to predict.

Can someone explain why, or fix it if this is a bug?

Please check the code below for more info.

[code]

[code]

[2022-07-28 18:48] alamb commented on #538
Feel free to send to andrew@nerdnetworks.org

[2022-07-28 18:48] alamb commented on #544
Thanks for the report -- it would be great if you could contribute a PR

[2022-07-28 18:50] alamb commented on #543
I think if you make a PR that is likely the best way to get guidance.

[2022-07-28 18:51] alamb commented on #534
Thanks for the report. A contribution PR would be most welcome

[2022-07-28 18:52] alamb commented on #518
I think this would make a nice contribution to the library -- feel free to make a PR 👍

[2022-07-28 18:53] alamb commented on #497
Another potential SQL standard was is to use `"` double quotes: `"name" = ?`

[2022-07-29 10:24] JamieSlome commented on #538
@alamb - thanks 👍

I've opened up #546 to help you with a `SECURITY.md`. Just for reference, the report can also be found here:

https://huntr.dev/bounties/77186930-deff-421b-8678-5418ae8f85d9/

It is currently private and only accessible to maintainers with repository write permissions.

[2022-07-29 10:55] alamb commented on #538
Thank you

[2022-08-01 17:55] kwannoel opened #549 "Parse negative numbers"
Parser should parse negative numbers as is, rather than into a unary_op neg, wrapping an inner value.
This is because that prevents certain valid numbers e.g. `-9223372036854775808` from being assigned the correct type.

Postgres own parser seems to do so:
[code]

[2022-08-01 17:56] kwannoel commented on #549
To reproduce:
[code]

Output:
[code]

[2022-08-03 23:41] #537 closed

[2022-08-05 03:20] xiaoxi1989 opened #554 "did sql ast restore sql supported?"
like
`
AST: [Query(Query { ctes: [], body: Select(Select { distinct: false, projection: [UnnamedExpr(Identifier("a")), UnnamedExpr(Identifier("b")), UnnamedExpr(Value(Long(123))), UnnamedExpr(Function(Function { name: ObjectName(["myfunc"]), args: [Identifier("b")], over: None, distinct: false }))], from: [TableWithJoins { relation: Table { name: ObjectName(["table_1"]), alias: None, args: [], wit

[2022-08-08 18:25] sam-mmm opened #560 "Is generated always as identity not supported."
When trying  to parse

[code]

`let ast: Vec<ast::Statement> = SQLParser::parse_sql(&dialect, &contents).unwrap();`

dialect = PostgreSqlDialect
contents = above DDL

Will produce

Above DDL is valid on PostgreSQL.
Am I doing something wrong or is `generated always as identity` not supported?

[2022-08-10 15:46] ayushdg opened #568 "Trim syntax without trimWhere and From not supported."
Postgresql syntax for trim `trim ( [ LEADING | TRAILING | BOTH ] [ characters text ] FROM string text ) → text` allows the pattern of
`trim(chars from string)`.

sqlparser currently fails with this combo of no leading/trailing/both flag and the `from` keyword specified.

Happy to work on a pr for this fix

[2022-08-15 21:58] #568 closed

[2022-08-17 09:28] Ted-Jiang opened #575 "Support creating unsigned int types from SQL"
From https://github.com/apache/arrow-datafusion/pull/3146#discussion_r947656561

We should support creating unsigned int types from SQL.

For now seems all int are signed
[code]

[2022-08-17 15:07] sanxiyn commented on #439
This seems fixed. If so, please close.

[2022-08-17 15:09] sanxiyn commented on #362
This seems fixed. If so, please close.

[2022-08-17 17:09] xrl opened #577 "Hive dialect cannot parse WHERE nested in FILTER"
I am dealing with some view code I do not control, trying to parse this gem:

[code]

which is valid on Athena/Hive in practice but not parsing here. It yields the parse error:

[code]

[code]

[2022-08-17 17:57] andygrove opened #578 "Regression in parsing `NULL LIKE <expr>`"
This test passes against 0.20.0 but fails in the main branch. This is likely caused by my recent changes for parsing `LIKE`.

[code]

Failure:

[code]

[2022-08-17 18:45] andygrove opened #580 "Allow dialects to override prefix and infix parsing"
I would like the parser to be able to delegate to the dialect for prefix and infix parsing. This would make the crate much more flexible and extensible and allow us to remove many hacks in the core parser that were added to support parsing all the different dialects.

I am working on a prototype and hope to have a PR up soon. The change will be backwards compatible.

[2022-08-17 21:56] sarahyurick opened #582 "Support `IS NOT TRUE`, `IS NOT FALSE`, and `IS [NOT] UNKNOWN`"
Hi, I would like to be able to parse something like:
[code]
But we are unable to parse `IS NOT TRUE`, `IS NOT FALSE`, and `IS [NOT] UNKNOWN`.

[2022-08-18 02:31] xrl commented on #577
Sounds like the technique being used is "filtering during aggregation" and the trino docs have more to say: https://trino.io/docs/current/functions/aggregate.html#filtering-during-aggregation . Not sure why they don't mention this in the presto docs.

[2022-08-18 13:44] #582 closed

[2022-08-18 16:02] #578 closed

[2022-08-18 19:12] xrl commented on #577
I am now debugging this as a new test case for the Hive dialect:
[code]

[code]

how can I make it so `FILTER` is not treated like an alias for the `array_agg` function? Do I need to register `FILTER` an infix keyword to keep the parser going?

[2022-08-18 19:45] xrl commented on #577
Looking at how Expr are built:

[code]

I see the `keywords::RESERVED_FOR_COLUMN_ALIAS` but I can't just put `Keyword::FILTER` in that list. Filter is allowed as an alias when standalone, for example this valid query:

[code]

but if they do something with an inline filter, that's not an alias:

[code]

[2022-08-19 05:11] xrl commented on #580
Is there any chance this would help with https://github.com/sqlparser-rs/sqlparser-rs/issues/577?

[2022-08-19 11:44] #580 closed

[2022-08-19 12:06] andygrove commented on #577
@xrl I filed https://github.com/sqlparser-rs/sqlparser-rs/pull/585 .. let me know what you think

[2022-08-23 10:19] waitingkuo opened #588 "Add Time Zone support"
`With/Without Time Zone` is currently parsed but not deal with.

I'd like to add them and TimestampTz

[2022-08-23 17:03] tonyabracadabra opened #590 "Can it be used as translator between different sql dialects?"
assuming we can convert SQL in one dialect (say MySQL) to AST, then convert AST to another SQL dialect (say Postgres)

[2022-08-25 01:54] MichaelScofield opened #591 "MySQL "ALTER ... DROP PRIMARY KEY" is not parsed correctly"
The following alter statement to drop primary key directly is allowed in MySQL:

[code]

However, it's not parsed correctly in sqlparser, for example:

[code]

Which prints

Ok(AlterTable { name: ObjectName([Ident { value: "my_table", quote_style: None }]), operation: DropColumn { column_name: Ident { value: "PRIMARY", quote_style: None }, if_exists: false, cascade: false } })

Looks like the "dro

[2022-08-25 05:21] #439 closed

[2022-08-25 05:52] baoyachi commented on #590
@tonyabracadabra I have the same problem.

[2022-08-25 15:11] andygrove opened #593 "Add support for Postgres OVERLAY syntax"
See https://www.postgresql.org/docs/current/functions-string.html

[code]

[2022-08-26 21:11] #464 closed

[2022-08-26 21:11] #588 closed

[2022-08-26 21:13] #593 closed

[2022-08-26 23:03] andygrove opened #596 "Support newer versions of `cargo-release`"
We have to use an old version of cargo-release for now.

[code]

With latest version:

[code]

[2022-08-31 21:24] ayushdg opened #597 "Add support for postgresql tablesample command"
Postgresql supports an optional `[ TABLESAMPLE sampling_method ( argument [, ...] ) [ REPEATABLE ( seed ) ] ]` during a select statement to retrieve a subset of rows based on the arguments provided.

[2022-09-05 10:35] lovasoa opened #603 "Placeholders can contain underscores"
The following prepared statement [parses correctly](http://sqlfiddle.com/#!5/9eecb7/15986) in SQLite:

[code]

However, it fails to parse in sqlparser-rs, which only accepts `[a-zA-Z0-9]` in placeholders.

[2022-09-06 10:39] jdclarke5 opened #605 "Keywords AT TIME ZONE can be followed by a column"
We have queries which reference a column after `AT TIME ZONE` rather than just supplying a string. This results in a valid query which executes as expected (in PostgreSQL). The parser currently raises an error `Expected Token::SingleQuotedString after AT TIME ZONE, found: the_column`.

I believe further match conditions should be added here to patch: https://github.com/sqlparser-rs/sqlparser-rs/bl

[2022-09-06 16:15] andygrove opened #606 "Add support for `array_agg("name")[1]`"
See discussion in https://github.com/sqlparser-rs/sqlparser-rs/pull/585#issuecomment-1238359759

[2022-09-08 19:08] #577 closed

[2022-09-11 17:44] kmitchener opened #610 "support scientific notation when parsing numbers"
`select 1e3` currently identifies 1 as a number and e3 as alias. Instead, it should return a new enum "ScientificNumber" (or something like that) to allow users of the library to decide how to handle this exponent notation.

Alternatively, it could expand the notation automatically and return the same Number it returns now?

[2022-09-12 16:29] kmitchener commented on #610
I think I might need to remove the bigdecimal dependency (which isn't used in very many places) and have it return _always_ a string for numbers, instead of a BigDecimal when that feature is enabled. Basically, a kinda big API change in case anyone is using the BigDecimal feature, as that would go away. BigDecimal does not support scientific notation, which I think is a big flaw, considering that

[2022-09-12 17:38] kmitchener commented on #610
The Hive dialect in sqlparser-rs lets it consider the 1e3 in `select 1e3` as an identifier. Is that actually true? @andygrove, do you have access to a Hive SQL system and can confirm that behavior?

[2022-09-13 12:07] ZarTaen opened #613 "MySQL/MariaDB: Wrong LIMIT x,y to LIMIT x OFFSET y conversion"
While `LIMIT x, y` can be converted to a `LIMIT y OFFSET x` notation, it is currently converted to `LIMIT x OFFSET y`, which does not have the same meaning.

[2022-09-13 21:44] sarahyurick opened #614 "Support `CREATE TABLE x AS TABLE y`"
Hi, I'd like to be able to parse a statement like `CREATE TABLE films2 AS TABLE films` as from the second Postgres example found at [this source](https://www.postgresql.org/docs/current/sql-createtableas.html). I currently tried to run this command with DataFusion but got a parser error, which is why I'm submitting the issue in this repo.

@andygrove I'm currently working on `test_table_schema` in

[2022-09-17 23:48] justhaug opened #615 "UPDATE doesn't support valid column name "value""
This sql:

[code]

Fails to parse, it used to in previous versions and I suppose should be considered a regression.

The reason this fails is because `VALUE` is now considered a keyword and update doesn't allow non-quoted keywords.

For reference SQLite, Postgres and MySQL parse and run the statement (or any that has `VALUE` as a column name.)

I would make a PR, but I'm not sure if making a speci

[2022-09-18 09:43] joocer opened #616 "`SHOW` statements silently dropping quoted strings"
When parsing generic `SHOW` statements such as `SHOW FUNCTIONS` or `SHOW PARAMETERS`, the parser creates a `ShowVariable` AST with each of the tokens after `SHOW` added as a `variable` node. This should allow functionality like `SHOW FUNCTIONS LIKE '%date%'` to be written by processing the AST even if the lexer doesn't understand what the query means.

However, this query `SHOW FUNCTIONS LIKE '%da

[2022-09-19 15:22] waitingkuo commented on #303
@435201823 which sqlparser version did you use that worked? i switched back to 0.5.0  but it still not works

[2022-09-19 15:37] kmitchener commented on #610
`1E+20` is a valid form as well.

[2022-09-22 10:37] baoyachi opened #619 "Does any plan to support tools for generating ast from online raw sql"
like pest online parser: [pest editor](https://pest.rs/)

like this:
![image](https://user-images.githubusercontent.com/10433001/191725702-bd87cd95-0641-4ef1-8940-7104b7e0f5de.png)

[2022-09-26 16:13] AugustoFKL commented on #615
TBH I think that accepting dialect-specific word patterns would require a good refactor, even though it should be acceptable, like accepting a table named "table".

Maybe being a little less permissive than the usual is fine?

[2022-09-26 16:20] AugustoFKL opened #622 "PostgreSQL Double precision correct support"
PostgreSQL `DOUBLE PRECISION` is converted to `DOUBLE`, which is fine until we need to re-convert the query to string:

[code]

This prints:

[code]

Which isn't accepted by PostgreSQL.

Double precision is mentioned on our standard doc[1](https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#approximate-numeric-type) and PostgreSQL docs [2](https://www.postgresql.org/docs/curr

[2022-09-26 16:29] AugustoFKL opened #623 "Parse data types based on current dialect"
Currently we parse data types ignoring the dialect, which doesn't make that much sense. This requires the caller to validate not only their usage, but if we parsed the data types correctly.

Could we add the dialect to parse the data types? That's done in a few parts of the code using `dialect_of!()`

[2022-09-26 16:35] AugustoFKL opened #624 "Support MySQL's empty row insert"
MySQL supports default row inserts [1], which we don't, like:

[code]

This returns: `ParserError("Expected identifier, found: )")`

Maybe the columns list could be an option, instead of a vector? This way we can differentiate between non-existent lists (`INSERT INTO tb VALUES ...`) and empty lists (`INSERT INTO tb () ...`).

[1]: https://dev.mysql.com/doc/refman/8.0/en/insert.html

[2022-09-26 16:42] AugustoFKL commented on #616
Could you please specify the dialect in which you are based on? `SHOW` is not standard nor is on our standard SQL specifications, so to read more about it and get more context we need to know what are you based on.

[2022-09-26 16:48] AugustoFKL opened #625 "Add MySQL's MEDIUMINT support"
We support most of MySQL's numeric data types, but we don't support `MEDIUMINT` [1](https://dev.mysql.com/doc/refman/5.7/en/integer-types.html) for some reason...

[code]

[1]: https://dev.mysql.com/doc/refman/5.7/en/integer-types.html

[2022-09-26 17:31] joocer commented on #616
Thanks Augusto,

The model I have tried to follow for this feature is SHOW VARIABLES from [Trino statement](https://trino.io/docs/current/sql/show-functions.html) and I recently submitted a PR to add this command.

Trino / Presto isn't a specific dialect on sqlparser-rs, I am using the MySQL dialect.

I think it's a bug that the tokens are silently dropped, and although I would find it useful if t

[2022-09-27 03:27] zidaye opened #626 "Add Postgres Create trigger support"
We have a trigger that updates the field time

[code]

[2022-09-27 13:58] #603 closed

[2022-09-28 07:40] mustafasrepo opened #631 "Support "date" and "timestamp" inside window frame RANGE Queries"
# Support INTERVAL in window RANGE Queries

Currently, we do not support the queries taking `date` or `timestamp` for range inside window frames. Following query

[code]

produces the error below:

[code]

Relevant section in the code, where window frame bounds are parsed can be found here.

[sqlparser-rs/parser.rs at 6afd194e947cfd800376f424ff7c300ee385cd9e · sqlparser-rs/sqlparser-rs](https://gi

[2022-09-28 11:02] #518 closed

[2022-09-28 14:34] bitemyapp opened #632 "Backticks in ObjectName argument to DESCRIBE fails to parse, dialect behavior specialization"
The library cannot currently parse this under the generic dialect:

[code]

I tried making my own dialect that added backticks to the delimited identifier characters, but it's not actually possible to make that work with the library modified as-is.

The reason is because of code like this that special-cases behavior based on known vs. unknown dialects:

https://github.com/sqlparser-rs/sqlparser-rs

[2022-09-28 20:26] #625 closed

[2022-09-29 19:10] augusto-vaultree commented on #622
@alamb can you close this, please?

It's already released, but I can't close it by myself

[2022-09-29 19:21] #622 closed

[2022-09-30 03:08] #590 closed, assigned to nobody

[2022-09-30 19:24] AugustoFKL opened #636 "Fix VARBINARY and BINARY precision"
Both `VARBINARY` and `BINARY` precisions are optional in some dialects:

[code]

Check:
- Standard: https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#binary-string-type
- MS SQL Server: https://learn.microsoft.com/pt-br/sql/t-sql/data-types/binary-and-varbinary-transact-sql?view=sql-server-ver16

This fixes:
https://github.com/sqlparser-rs/sqlparser-rs/pull/618

[2022-09-30 20:39] AugustoFKL opened #638 "Fix `CLOB` and `BLOB` precision"
Both `BLOB` and `CLOB` precisions are optional in some dialects:

[code]

Check:
- Standard(BLOB): https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#binary-large-object-string-type
- Standard(CLOB): https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#character-large-object-type
- Oracle (BLOB): https://docs.oracle.com/javadb/10.8.3.0/ref/rrefblob.html

[2022-09-30 22:34] AugustoFKL opened #640 "Timestamp print format based on input"
`TIMESTAMP WITH TIME ZONE` and `TIMESTAMPTZ` theoretically are the same on Postgresql ([1](https://www.postgresql.org/docs/current/datatype-datetime.html)), but they are not for other dialects like `Oracle`([2](https://docs.oracle.com/en/database/oracle/oracle-database/12.2/nlspg/datetime-data-types-and-time-zone-support.html#GUID-3F1C388E-C651-43D5-ADBC-1A49E5C2CA05)) (that doesn't support `TIMES

[2022-10-01 00:11] AugustoFKL commented on #613
PR https://github.com/sqlparser-rs/sqlparser-rs/pull/642 for this fix :D

[2022-10-01 01:11] AugustoFKL commented on #151
@nickolay @alamb just to make sure, since adding this results in a breaking change on the `Statement` API. Implementing this is still accepted?

[2022-10-01 01:16] AugustoFKL commented on #339
@nickolay can't we have a default implementation for stuff that is generic, i.e., is specified on the ANSII, and specific implementation overwriting them if the child ever needs it?

E.g.,

[code]

[2022-10-01 01:36] AugustoFKL commented on #543
@Sibz looking at MySQL's `CREATE TABLE` doc ([1](https://dev.mysql.com/doc/refman/8.0/en/create-table.html)), I couldn't find why you're trying to give it an expression, as MySQL seems to follow the standard when it comes to the `ON UPDATE` clause([2](https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#update-rule)).

You're trying to add the `ON UPDATE CURRENT_TIMESTAMP` cla

[2022-10-01 05:46] nickolay commented on #339
You could technically do that, but why?

Current design aims to produce a parser that’s able to parse SQL from common dialects with minimal maintenance effort. Producing “strict” dialect-specific parsers, that reject syntax not supported by the given dialect, would require maintaining a separate parser for each dialect — so it isn’t a goal of this project. One can fork and remove the unneeded code

[2022-10-01 06:12] ever0de commented on #339
I understood this answer.
Please close the issue when the discussion is over, Thanks!

[2022-10-01 12:28] AugustoFKL commented on #339
@nickolay makes sense, thanks!

[2022-10-01 16:18] AugustoFKL commented on #616
@joocer is this still required? It seems like had a merge already. What's the status? Can I give any help?

[2022-10-01 20:42] alamb opened #643 "Discuss of sqlparser-rs project status / maintenance October 2022"
I hope this ticket will serve as a place to discuss the current status of the sqlparser-rs project and where the maintainers plan to take it

# Background / People with Write Access

This project was initially started by @andygrove

At various times, @benesch @maxcountryman @Dandandan @nickolay and myself have helped maintain the code. This is also the list of people who have write access to the g

[2022-10-01 20:44] alamb commented on #643
I wanted to be explicit that my motivation for maintaining this crate is that we use it as part of https://github.com/apache/arrow-datafusion and https://github.com/influxdata/influxdb_iox. While we periodically want to extend with some additional sql syntax, the basic feature set is good for us. I don't (yet) need any of the other proposed features and thus don't have the time to devote to it

[2022-10-01 20:52] #636 closed

[2022-10-01 21:12] alamb commented on #151
@AugustoFKL  -- given that sqlparser uses an `enum`  (that isn't explicitly declared `non_exhaustive` https://doc.rust-lang.org/reference/attributes/type_system.html)  pretty much any change that adds a variant to one of the existing enums will be a breaking change, from a semver perspective.

However, in terms of my take on "easy to upgrade changes" new enum variants to expand the sql support are

[2022-10-01 21:13] alamb commented on #151
So "yes adding support for a DECLARE" statement is definitely acceptable from my perspective (like I will review it and help merge it)

[2022-10-01 21:15] #638 closed

[2022-10-01 21:23] #613 closed

[2022-10-01 21:28] AugustoFKL commented on #643
@alamb I'd love to be part of the maintainer team if possible :)

I work a lot with SQL and Rust, so this project is a really meaningful way to learn and develop my skills, and coding it is really fun

[2022-10-01 21:30] alamb commented on #643
Thank you -- I think the best way to help initially would be to help review the PRs and get them ready for merge -- and @alamb me when they are ready. 🙏

[2022-10-01 21:43] AugustoFKL opened #644 "How to handle MySQL `CREATE SCHEMA` syntax"
Currently, we only support `CREATE SCHEMA` and `CREATE DATABASE` with `IF NOT EXISTS`, which is quite small. However, to expand that, we need to keep one thing in mind: MySQL handles both the same ([1](https://dev.mysql.com/doc/refman/8.0/en/create-database.html)) and, therefore, handling them as one or another would lead to parsing problems.

However, we can't assume that they're the same, as the

[2022-10-01 21:43] AugustoFKL commented on #644
@alamb any thoughts?

[2022-10-01 23:20] AugustoFKL opened #645 "Create schema name allowing `AUTHORIZATION`"
Make schema name allow `AUTHORIZATION` like the standard ([1](https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#schema-definition)), PostgreSQL ([2](https://dev.mysql.com/doc/refman/8.0/en/numeric-type-syntax.html)), Oracle ([3](https://docs.oracle.com/javadb/10.8.3.0/ref/rrefsqlj31580.html))

[1] : https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#s

[2022-10-02 01:55] AugustoFKL commented on #560
@sam-mmm that's a constraint not supported yet.

[2022-10-02 01:57] AugustoFKL commented on #329
@leiysky any updates regarding this? Maybe the issue is outdated?

[2022-10-02 02:11] AugustoFKL commented on #359
@alamb can this be closed? It is deprecated, as https://github.com/sqlparser-rs/sqlparser-rs/pull/451 resolves this.

[2022-10-02 02:30] AugustoFKL commented on #535
@MRGRAVITY817 @rex-remind101 do you have any specific type to be supported? PostgreSQL and SQL Server seem not to follow the standard, so implementing each one of them would be a task by itself, isolated from the other ones.

[2022-10-02 02:44] AugustoFKL commented on #544
@bugoverdose I got the same problem with `OR`. It looks like our precedence evaluation isn't handling different levels well, or there's something wrong.

@alamb I'll try to find a way to make it right, but that **may** end up with re-structuration of our precedence tree evaluation, which is quite big.

[2022-10-02 02:53] AugustoFKL commented on #503
@alamb can you close this, please? Already done on https://github.com/sqlparser-rs/sqlparser-rs/pull/512

[2022-10-02 02:57] AugustoFKL commented on #626
Isn't this the `CREATE FUNCTION` statement? ([1](https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#SQL-invoked-function))

[1] : https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#SQL-invoked-function

[2022-10-02 06:50] lovasoa commented on #643
Thank you very much @alamb for opening this !
I reiterate my proposition to help maintain the AST visitor in the long term if it's merged. And speaking for my particular PR; it doesn't require any downstream code churn: it is just a new trait implementation, behind a feature flag that is disabled by default.

[2022-10-02 11:39] teenjuna commented on #60
Hello there! Is this still being considered? 😅

[2022-10-02 19:13] AugustoFKL opened #647 "ANSII `character string types`"
Implementation of all types inside the ANSII specification ([1](https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#character-string-type)), not including the large types for now because even if they conceptually are in the same group, the implementation would be slightly different, so it's better to break the implementation.

I'll leave the length optional for all since Post

[2022-10-02 21:02] AugustoFKL commented on #2
@andygrove can https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#character-string-type be used instead?

I'm working on this, but the repository states that this one is our standard, so following the 2011 shouldn't be recommended.

[2022-10-02 21:07] AugustoFKL commented on #526
@alamb @andygrove @nickolay is this change acceptable?

I'd love to have that as well and could work on that if would be reviewed. Maybe I can split the structure from the replacement implementation, so you don't have to review a big PR at once.

Otherwise, I'd ask, if possible, to close this :)

[2022-10-02 21:25] nickolay commented on #544
The question is what the relative precedence of XOR is expected to be. https://github.com/sqlparser-rs/sqlparser-rs/pull/357 didn't specify this, and set it to be rather high (`24`).

[2022-10-02 21:31] AugustoFKL commented on #544
@nickolay MySQL considers its precedence to be the third lowest one ([1](https://dev.mysql.com/doc/refman/8.0/en/operator-precedence.html)), which seems to be the same for MariaDB ([2](https://mariadb.com/kb/en/operator-precedence/)), and the same for Oracle ([3](https://docs.oracle.com/cd/E17952_01/mysql-5.6-en/operator-precedence.html)).

To be honest I'm not quite sure how to handle that. It's

[2022-10-02 21:35] nickolay commented on #615
I would just revert the part of PR that changed this ( https://github.com/sqlparser-rs/sqlparser-rs/pull/375/files#diff-4a04259da480a6b794a2e947e4cc03eff4d1aa9330836f5b91cac68c5398193fR3168 introducing `parse_identifiers_non_keywords`).

If there's a need to reject certain keywords after SET, one must decide which keywords to reject list them in a const a la `RESERVED_FOR_COLUMN_ALIAS`.

[2022-10-02 21:40] AugustoFKL commented on #615
@nickolay isn't this too specific? Each dialect has its own keyword, with a  different scope from the ANSII. If we try to handle each possible minimum difference, we'll end up a lot of dialect-specific structures, which will be hard to maintain.

[2022-10-02 22:01] AugustoFKL opened #649 "Support for SOUNDEX expression, restrict to MySQL, MSSQL, Oracle, and Generic Dialect"
Add support for SOUNDEX expressions from MySQL ([1](https://dev.mysql.com/doc/refman/8.0/en/string-functions.html#function_soundex)), Microsoft SQL Server ([2](https://learn.microsoft.com/pt-br/sql/t-sql/functions/soundex-transact-sql?view=sql-server-ver16)), and Oracle ([3](https://docs.oracle.com/cd/B19306_01/server.102/b14200/functions148.htm)).

Soundex is also existent for Snowflake ([4](http

[2022-10-02 22:05] nickolay commented on #544
Well you could change the `24` precedence to something that matches whatever DB you care about, add relevant tests, and let others implement dialect-specific overrides if they need to via https://github.com/sqlparser-rs/sqlparser-rs/blob/3beecc0a7a06c8dae47a4440129d01553c28c2ee/src/dialect/mod.rs#L89-L92

[2022-10-02 22:15] nickolay commented on #615
I didn't say I was in favor of trying to reject certain keywords after SET. I said that _even if_ we wanted to do that, relying on the [global keywords list is an error](https://github.com/sqlparser-rs/sqlparser-rs/blob/3beecc0a7a06c8dae47a4440129d01553c28c2ee/src/keywords.rs#L17-L23).

[2022-10-02 22:24] nickolay commented on #526
The current design lets users access `value` without first destructuring the enum, and it allows the dialects to implement whatever quoting style they need without changing the `Ident` type.

I guess you could replace the `Option<char>` with a non-exhaustive `QuoteStyle` enum, but I don't see the value of such a change. (Note that I'm just sharing my perspective as it was implemented this way duri

[2022-10-03 02:29] andygrove commented on #643
Thanks for raising this @alamb. I would love to spend more time helping here, but I just don't have the time right now, and this crate is "good enough" for the projects where I use it (DataFusion/Ballista & Dask SQL).

It would be great to get some new maintainers here.

[2022-10-03 02:33] sam-mmm commented on #560
Thanks,

https://github.com/sqlparser-rs/sqlparser-rs/pull/587

[2022-10-03 12:34] alamb commented on #644
My basic thought / guideline is that that sqlparser crate should, as much as possible, parse SQL syntax but not apply semantic interpretation; Specifically, I think it should attempt to parse all SQL variants but avoid applying dialect specific semantic meaning

So for example Ideally I would expect `CREATE SCHEMA` and `CREATE TABLE` to parse to different enum variants like `Statement::CreateSchem

[2022-10-03 12:37] #640 closed

[2022-10-03 12:39] alamb commented on #359
Agreed -- thank you @AugustoFKL

[2022-10-03 12:39] #359 closed

[2022-10-03 12:39] #503 closed

[2022-10-03 12:49] alamb commented on #526
I agree with @nickolay  -- it isn't clear to me what problem this proposal would solve.  Can't users do something like

[code]

Which would safely check for various quote characters and provide an error for unsupported quote styles?

[2022-10-03 15:27] AugustoFKL commented on #526
Actually @alamb I think the main problem is that it's an option, which is a pain to handle. The user would need to unwrap it to be able to match as you showed.

But I agree that having an enum to match that would be a pain. If someone wanted the internal value, would need to have the same code for all variants, which doesn't make much sense

[2022-10-03 15:34] omer-shtivi commented on #526
We can have a function on the enum which provide that internal value.
The risk is when an Ident is added a client can mis-handle one of the variants, which having an enum prevents.
Example:
[code]
and it allows for a client to excessive match all quote style and make sure everything is handled properly.

[2022-10-03 15:38] AugustoFKL commented on #526
Hmmmm I think the idea is OK, but TBH I don't have the need for that, and that doesn't relate to ANSII (I'm aiming to expand the support for ANSII as much as possible here)...

@alamb do you think that's reasonable? `Ident` is quite stable and used all over the code, and accessible by the public API, so the upper projects would need to do a pretty good refactor if that changes.

[2022-10-03 15:42] AugustoFKL commented on #632
@bitemyapp I think that you could extend the GenericDialect to do it.

Ideally, as mentioned by some of the old maintainers, the `GenericDialect` should be able to parse everything, or at least most of the stuff.

The main problem is defining what's the expected behavior for things like backticks. It's possible that a random dialect handles it as strings, and then the GenericDialect would be incom

[2022-10-03 16:16] alamb commented on #526
What about something like

[code]

yes, I agree this is a potential issue. What about something like the following, which is inline with other parts of the crate:

[code]

[2022-10-03 16:20] AugustoFKL commented on #526
@alamb I think the `QuoteStyle` enum is quite good, and enough. The display of `Ident` would be adjusted, and maybe some rebase will be required on downstream projects, but way too less than adding the variants as proposed by @omer-shtivi.

@omer-shtivi is that enough for you?

[2022-10-03 16:36] omer-shtivi commented on #526
Sounds good I will code it soon

On Mon, 3 Oct 2022 at 19:20 AugustoFKL ***@***.***> wrote:

[2022-10-03 20:44] bitemyapp commented on #632
I'm not sure if you're addressing me but:

Because it doesn't work. I'm not parsing MySQL, I'm parsing Athena SQL queries that encompass Presto and Hive'isms. The GenericDialect is the only dialect that handles the SQL successfully and correctly right now. Everything else fails with an error.

If you read what I said, this part is precisely about this problem:

I can't do what I want in any other

[2022-10-03 22:07] nickolay commented on #632
+1, if the tests still pass after you add backticks to the list of GenericDialect's `is_delimited_identifier_start`.

The reason the `dialect_of!` relies on type information is I believed one would have to fork the library anyway (or to upstream their dialect) in order to implement a useful custom dialect. Granted `Dialect` provided [very few extension points](https://github.com/sqlparser-rs/sqlpa

[2022-10-04 10:42] #647 closed

[2022-10-04 13:56] Dandandan commented on #643
Similar to @andygrove the focus on sqlparser-rs is limited from my side - you van expect some occasional help with reviewing and merging open MRs whenever I have some spare time. New active maintainers would be great 👍

[2022-10-04 18:31] AugustoFKL commented on #575
@alamb @Ted-Jiang isn't that fixed since https://github.com/sqlparser-rs/sqlparser-rs/pull/428?

I can't see what's the problem

[2022-10-05 09:22] teenjuna commented on #535
Hey @AugustoFKL, I've also just ran into this. Could you please elaborate your question about any specific type? Personally, I just want this crate to be able to parse Postgres' `CREATE TYPE ... AS (...)` and `CREATE TYPE ... AS ENUM (...)`

[2022-10-05 15:11] AugustoFKL commented on #535
@teenjuna I see.

The problem is, `CREATE TYPE ... AS (...)` follows the standard ([1](https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#datetime-type)), but the latest not. I'm currently mostly working to try to expand our `ANSII` implementation, or some others as I need. Otherwise, I don't have plans to work on that.

I could work on the first one, but not the `CREATE TYP

[2022-10-05 15:55] bitemyapp commented on #632
This is helpful information and makes sense to me, thank you.

I'll clean up this patch first: https://github.com/sqlparser-rs/sqlparser-rs/pull/652

Once I've done that I'll look into upstreaming the changes I made to the `ALTER TABLE` parsing so that it could handle multiple `PARTITION` keywords. e.g.

[code]

[2022-10-06 03:53] teenjuna commented on #535
@AugustoFKL any improvement will be very helpful, thank you!

It'll be also very helpful if you will consider the possibility that `AS ENUM` might be implemented in the future if you implement the `ANSII` variant (e.g. your implementation doesn't prevent this)! I might focus on this (as well as the `INSERT INTO ... RETURNING` and similar popular Postgres constructs) somewhere in the end of the yea

[2022-10-06 06:42] Sibz commented on #543
Yes your right, it doesn't take an expression per se, only takes `CURRENT_TIMESTAMP` or `NOW` but something must be provided, currently it's broken as will not parse those key words.

[2022-10-06 10:16] alamb commented on #575
I agree this ticket appears to have been fixed. Closing. Please let me know if I got that wrong @Ted-Jiang

[2022-10-06 10:16] #575 closed, assigned to nobody

[2022-10-07 00:03] AugustoFKL opened #661 "Support all ANSII data types"
Support all ANSII data types: https://jakewheat.github.io/sql-overview/sql-2016-foundation-grammar.html#_6_1_data_type

- [ ] Predefined type
  - [ ] Character string type
    - [X] `CHARACTER` (complete since [#663](https://github.com/sqlparser-rs/sqlparser-rs/pull/663))
    - [X] `CHAR` (complete since [#663](https://github.com/sqlparser-rs/sqlparser-rs/pull/663))
    - [X] `CHARACTER VARYING` (

[2022-10-07 01:08] Sibz commented on #543
And further, we must support all synonyms of CURRENT_TIMESTAMP:
`CURRENT_TIMESTAMP()`, `NOW()`, `LOCALTIME`, `LOCALTIME()`, `LOCALTIMESTAMP` and `LOCALTIMESTAMP()`
Parse considers the ones without parenthesis keywords but the ones with as expressions.

I will review my code and test as soon as I have chance, though I am very busy these days.

[2022-10-07 20:56] #596 closed

[2022-10-08 02:36] leiysky commented on #329
Thanks for reminding me, it seems has been fixed in the latest version.

[2022-10-08 02:36] #329 closed

[2022-10-09 00:42] SuperBo commented on #643
Hi everybody, about the future of this project. I want to use `sqlparser-rs` as a base parser for a project which can hint most popular SQL dialects.

Is fully support BigQuery, Snowflake, and Postgres one of the achievement of this project?

[2022-10-09 13:34] joocer commented on #616
Hi Augusto, the PR was to solve the specific use case I had for a `SHOW FUNCTIONS`, it solved by creating a specific case for this query type but the underlying bug remains - if the parser encounters a string literal in a `ShowVariables` query the literal is silently dropped.

I have experience in multiple other languages to have been able to find the pattern in the existing code I could replicate

[2022-10-09 15:10] AugustoFKL commented on #643
@SuperBo I think @alamb can answer it better but, from my POV, theoretically, the project would handle all **syntactical**   elements of each supported dialect. However, as the number of maintainers is reduced, there's no way to expand the project in a really fast manner.

I think supporting generic features (e.g., common data types and statements) is more feasible, but still, full support for eac

[2022-10-10 02:47] zidaye commented on #626
when parsing the above sql will return an error, I hope sqlparser will consider supporting parsing such sql.

[2022-10-10 21:05] alamb commented on #643
Thank you everyone who is offering to help maintain this library. The first thing I would recommend for would be maintainers and those who would like to see larger changes would be to help maintain the current crate. This means reviewing PRs and ensuring they are tested, documented, and conform to the current style of the project and helping new contributors.

To be open and transparent, I am worr

[2022-10-11 00:01] SuperBo commented on #643
Hi, I agree with you guys that to fully support all dialects, restructure AST is inevitable. This will requires a major change in code and maintenance effort.

[2022-10-12 17:36] gwenn opened #668 "Duplicate column in CREATE TABLE statement"
SQLite raises a parser error with the following DDL:
[code]
But `sqlparser` doesn't:

[code]
Is this kind of checks considered out of scope ?
Thanks.

[2022-10-13 10:44] francis-du opened #669 "Support cache/uncache table syntax"
1. Cache

[code]

2. Uncache

[code]

Spark SQL CACHE TABLE: https://docs.databricks.com/spark/latest/spark-sql/language-manual/sql-ref-syntax-aux-cache-cache-table.html

[2022-10-14 02:53] AugustoFKL commented on #668
@gwenn I think this is something really specific, and validating semantics is a really dangerous place to go.

I think we could look into that, but that would require a good study of the approach of each dialect and, as stated on SQL ANSI 2011 (1):

equivalent names (particularly when created through an <SQL schema statement>). When two elements with
equivalent names are permitted, then the elemen

[2022-10-14 02:53] #644 closed

[2022-10-14 02:55] AugustoFKL commented on #619
@baoyachi I'm 90% sure that there are no plans to do so. Maybe you can look into using this with an API and then having it on a web-service, but this is not the target of this crate and, therefore, not even in the near sight of being started.

[2022-10-14 02:57] AugustoFKL commented on #56
@alamb @andygrove isn't this "finished"? I mean, not completed, but the dialect itself is present already, right?

Can't this be closed?

[2022-10-14 04:00] rockstar opened #672 "Become more robust to parse errors"
I've started working on a sql [lsp server implementation](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/), using `sqlparser` as the parser. Unfortunately, I very quickly hit a wall, mostly around how `sqlparser` discovers and surfaces errors. For instance, let's say the user types the following: `SELECT * F` and hits the <Tab> key. A good lsp server wou

[2022-10-14 16:24] #560 closed

[2022-10-14 18:43] alamb commented on #56
👍

[2022-10-14 18:43] #56 closed

[2022-10-14 18:43] alamb commented on #56
I agree this isn't tracking anything actionable at the moment -- we can file issues to track individual feature gaps as we find them

[2022-10-14 20:28] hntd187 commented on #56
I remember specifically bucketing and clustering in DDLs I did not add at the time as I had no good example of their usage to test against.

[2022-10-15 10:34] #631 closed

[2022-10-15 11:53] #669 closed

[2022-10-17 05:46] abhillman opened #674 "Feature Request: "Unparsing""
i.e. for a given dialect, go from an AST -> SQL

[2022-10-17 15:32] unvalley commented on #534
I'll take a look.

[2022-10-18 09:21] vidmartin opened #675 "adding multiple columns in a single `alter table` statement doesn't work"
When I try to parse the following valid SQL statement (it runs fine on my MySQL server) via `sqlparser`:

[code]

Instead of successfully parsing it, I get the following error:

[code]

It seems like `sqlparser` doesn't understand having multiple additions in a single `alter table` statement. Is it possible to make this work?

[2022-10-18 09:30] vidmartin opened #676 "alter view"
the following valid sql statement doesn't work:

[code]

I get this error:

[code]

[2022-10-18 09:48] alamb commented on #668
I agree -- this crate is designed to parse SQL syntax and does so quite forgivingly (doesn't error as much as parsers tied to a specific implementation might).

We have purposely left checks of what syntax is semantically valid / invalid  to the users of this crate.

Another example is that I suspect this crate parses more and different data types than sqlite allows

@AugustoFKL  maybe this is goo

[2022-10-22 05:53] CEOJINSUNG opened #684 "Support OnUpdate Function"
## Description

In MySQl, it supports ON UPDATE CURRENT_TIMESTAMP Function when creating table and declaring DATETIME column. But I wonder if there is non-Token::LParen option in Keyword::CURRENT_TIMESTAMP. "CURRENT_TIMESTAMP()" in Following Task passed but "CURRENT_TIMESTAMP" is not working

## Task

[code]

[2022-10-25 09:30] unvalley opened #687 "Support `SELECT * EXCEPT(col1, col2, ...)` for BigQueryDialect"
I’d like to parse `SELECT [* | column.*] EXCEPT(col1, col2, ...) FROM table` using BigQueryDialect.

BigQuery Reference: https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#select_except

The query `SELECT * EXCEPT (col1, col2) FROM table` causes ParserError as I described below.

[code]

[2022-10-26 04:57] unvalley opened #688 "Support `DISTINCT` for SetOperator"
I’d like to parse `UNION DISTINCT` using BigQuery and MySQL dialect.
This is not included in standard.

BigQuery Reference: https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax?hl=ja#set_operators
MySQL Reference: https://dev.mysql.com/doc/refman/8.0/en/union.html

I'm not familiar with other dialects, if other dialects allow `UNION DISTINCT`, please comment.

[2022-10-26 05:02] unvalley commented on #688
And I'm working on this.

below are what I'm doing (if it's not reasonable change, please let me know).

I'm changing `all(bool)` field in [SetOperation](https://github.com/unvalley/sqlparser-rs/blob/914810d36617581c2380ae9c0f501116a7d810b6/src/ast/query.rs#L96) to `op_option(Option<SetOperatorOption>)`.

[code]

[2022-10-26 15:40] unvalley opened #690 "Fix test-util `fn all_dialects()` to test all dialects actually"
This is for internal but some fixes may be for users.

In [tests/sqlparser_common.rs](https://github.com/sqlparser-rs/sqlparser-rs/blob/main/tests/sqlparser_common.rs) (⚠️ linked page may freeze your browser), a lot of test cases depend on [fn all_dialects()](https://github.com/sqlparser-rs/sqlparser-rs/blob/914810d36617581c2380ae9c0f501116a7d810b6/src/test_utils.rs#L135) to test all dialects.
But

[2022-10-30 20:25] omer-shtivi commented on #643
I want to help the project.
how do I know which issues are accepted, and I can start work on?

[2022-10-30 20:43] AugustoFKL commented on #643
@omer-shtivi usually I just open the PR for a feature that I know is feasible and simple to be reviewed.

Huge changes aren't prone to be accepted, as mentioned by a lot of discussions and in the readme.

I'd focus on issues that don't require huge refactors, as @alamb looks like to be the only stable maintainer for now, with not completely dedicated time. Huge PRs are a pain anyway.

If it's some

[2022-10-31 10:31] alamb commented on #643
Thanks @AugustoFKL  -- I agree with https://github.com/sqlparser-rs/sqlparser-rs/issues/643#issuecomment-1296347064 👍

Basically I try to do a release about once a month by collecting contributions (as @AugustoFKL  says mostly focused on extending the sql syntax that is supported by following the existing patterns).

I would definitely suggest discussing (feel free to tag me) if there is a larger

[2022-10-31 16:33] duanzy47 opened #698 "Support Postgresql dollar-quoted string $$constant$$"
Hello,

I noticed that the double dollar quoted string is not supported by the parser. Only the single $ identifier is supported, thus the parsing fails all the time for sql texts with dollar quoted strings.
As it is a very convenient way to write complicated strings, dollar-quoting is largely used in the Postgres community. Could you please support it in the Postgres dialect?

Thanks in advance ;

[2022-11-02 23:46] AugustoFKL commented on #674
@abhillman I don't think this is feasible in the near future.

I think that's more feasible to be done in another project, as a side-project of someone, than as a part of this crate.

That would require one of the two following approaches:
- Re-structure the AST and have once for each dialect (e.g., SelectPostgresql, SelectAnsi, etc.); or
- Have a dialect-specific implementation of `to_string()` o

[2022-11-03 00:02] AugustoFKL commented on #675
@vidmartin will work on that.

As this isn't the ANSI behaviour [(1)], wasn't a priority. I know MySQL supports it [(2)], and PostgreSQL [(3)] as well, right? Do you need it only for MySQL, or other dialect as well? If just for MySQL, I can work on that right away. If this needs to be generic, I'll have to study a little before implementing it.

[1] : https://jakewheat.github.io/sql-overview/sql-2

[2022-11-03 18:40] omer-shtivi commented on #698
Suggestion:
Add another QuotedString type: `DoubleDollarQuotedString` but I think it should go in after we finish the switch to Enum for QuoteStyle, that way we are not bounded to chars as quoting style

[2022-11-03 20:18] AugustoFKL commented on #207
@alamb can we close this?

Doesn't seem active for a while.

[2022-11-03 20:19] AugustoFKL commented on #18
@alamb @nickolay @andygrove do you still think this is a reasonable issue?

Although seems quite useful, possibly would demand a lot of extra maintaining structure, which I don't think the project has right now.

[2022-11-03 20:21] AugustoFKL opened #700 "Use pedantic rust linter and super linter"
I think using the pedantic linter [(1)](https://github.com/rust-lang/rust-clippy) and super linter [(2)](https://github.com/github/super-linter) is really reasonable, and could improve the code quality a lot.

What do you think @alamb

[1] : https://github.com/rust-lang/rust-clippy
[2] : https://github.com/github/super-linter

[2022-11-03 20:44] alamb commented on #700
I think these are already run in our CI system, for example

https://github.com/sqlparser-rs/sqlparser-rs/actions/runs/3385991687/jobs/5624817335
https://github.com/sqlparser-rs/sqlparser-rs/actions/runs/3385991687/jobs/5624817057

Maybe I misunderstand what you are suggesting

[2022-11-03 20:56] alamb commented on #18
There is basically a SQL writer now that converts from an AST to SQL. I didn't read this entire ticket so I am not sure what else is being proposed. Perhaps we can close it as "done" 🤔

[2022-11-03 21:11] AugustoFKL commented on #18
@alamb this considers dialect specific implementation as well.

Not sure if that's really feasible. This approach (dialect specific serialisation) was already discussed in another moments and, as always, we agree that that's too much additional code, to such small gains.

[2022-11-03 21:14] AugustoFKL commented on #700
Currently we just use the standard Clippy.

Super linter is a non-rust related.

And pedantic considers more idiomatic linters, check the doc [(1)](https://rust-lang.github.io/rust-clippy/master/) about pedantic linters.

[1] : https://rust-lang.github.io/rust-clippy/master/

[2022-11-04 16:10] alamb commented on #700
In general I think we should strive to make contributing to (and maintaining this crate) as easy as possible. Part of doing that is using well known rust tools so contributors don't have to install additional dependencies I think

I have not run into the different linter referred to above -- it might be interesting to try it out with a PR to see what difference it makes practically

[2022-11-04 16:18] alamb commented on #207
👍  please reopen if there is more to say (or feel free to file a new issue too)

[2022-11-04 16:18] #207 closed

[2022-11-07 12:06] #688 closed

[2022-11-07 20:32] #690 closed

[2022-11-11 01:17] ankrgyl commented on #524
If it's still of interest, I was able to revive #288 and get it working w/ fewer merge conflicts + passing tests. Happy to send a PR if interesting.

[2022-11-11 21:15] #60 closed

[2022-11-11 21:37] #534 closed

[2022-11-15 16:28] alamb commented on #524
@ankrgyl  would love to see a PR -- basically if adding support won't cause significant maintenance burden and a reasonable (but not pain free of course) upgrade path.

[2022-11-16 02:25] SBeausoleil opened #711 "MySQL: No support for stored procedure DEFINER"
If the stored procedure contains a DEFINER, a ParserError is raised:
[code]
Exemple of code causing such an error:
[code]

[2022-11-16 06:58] mingmwang opened #712 "Does sqlparser-rs support Left Semi/Left Anti/Right Semi/Right Anti Join ?"
From the code based, looks like they are unsupported as of now.

https://github.com/sqlparser-rs/sqlparser-rs/blob/f7817bc7c257b6db76bb19b83033a7f2f001313b/src/ast/query.rs#L570-L581

[2022-11-16 06:58] mingmwang commented on #712
@alamb

[2022-11-16 07:23] Dandandan commented on #712
There is no specific syntax right now in sqlparser-rs indeed (most SQL dialects don't support it).

[2022-11-16 07:28] mingmwang commented on #712
Can we add those?

[2022-11-16 19:49] alamb commented on #712
I think SQL queries typically don't have ANTI/SEMI joins directly  -- instead they have correlated `EXISTS` and `IN` subqueries

Such correlated subqueries are typically implemented using various combinations of ANTI/SEMI joins as a performance optimization (rather than re-running each subquery )

What is the usecase of adding `SEMI JOIN` to the SQL grammar?

[2022-11-17 01:09] mingmwang commented on #712
Some of the engines support ANTI/SEMI joins directly.  And yesterday I found there was issue within DataFusions's RIGHT ANTI/RIGHT SEMI Join implementation and try to write some UTs to verify it, but found I can not just because  those SQL syntaxes are not directly supported, and they are converted from other forms, which makes the UT writings not very straightforward.

[2022-11-17 01:59] alamb commented on #712
I think if there is some precident (like a reference to a sql dialect in sqlparser that supports syntax like SEMI JOIN, etc) we would definitely accept the PR

[2022-11-17 03:03] mingmwang commented on #712
Apache Calcite:

https://github.com/apache/calcite/blob/main/site/_docs/algebra.md

SparkSQL

https://github.com/apache/spark/blob/5c43da6858721664318c3cdbcb051231b0e98175/sql/catalyst/src/main/antlr4/org/apache/spark/sql/catalyst/parser/SqlBaseParser.g4#L708-L716

[2022-11-18 05:02] devgony opened #713 "Is there a way to parse `table_factor` only?"
I want to parse some table_factor with args like
[code]
but without parsing full sentense (`SELECT * FROM ...`)

I found there is `fn parse_table_factor` but it seem like it can not be used stand-alone

[2022-11-18 05:12] devgony opened #714 "Support `ALTER INDEX` statement"
Currently, It looks like `ALTER` keyword is supported for table only.

Can i try to implement `ALTER INDEX`?

## Goal
[code]

## Ref
https://www.postgresql.org/docs/current/sql-alterindex.html

[2022-11-18 10:09] step-baby commented on #615
UPDATE also doesn't support valid column name "sort"

[2022-11-18 10:48] devgony opened #715 "Support `ESCAPE` keyword in WHERE LIKE clause"
Currently, it seems like `ESCAPE` keyword is not supported in WHERE LIKE clause

Can i try to implement?

## Goal
[code]

## Ref
https://dev.mysql.com/doc/refman/8.0/en/string-comparison-functions.html#operator_like

[2022-11-18 11:30] CorentinLimier opened #716 "Support `EXCLUDE` and `RENAME` in Snowflake"
Hello,

Snowflake added two SQL keywords : `EXCLUDE` and `RENAME`

ex of query :

[code]

Link to documentation : https://docs.snowflake.com/en/sql-reference/sql/select.html

Thank you

[2022-11-19 05:32] devgony commented on #715
I found that my sqlparser version was outdated !

[2022-11-19 05:32] #715 closed

[2022-11-19 12:10] HaoYang670 opened #718 "Add `COMPRESSION` as a `Keyword`"
The Datafusion recently supports a new SQL syntax `COMPRESSION TYPE`: https://github.com/apache/arrow-datafusion/issues/3641

However, the word `COMPRESSION` is not a `Keyword` recently. I want to add it as a `Keyword` so that we can parse this syntax in Datafusion easily: https://github.com/apache/arrow-datafusion/issues/4262

[2022-11-20 11:03] lovasoa opened #719 "table alias without as fails to parse"
Hello !

 The following valid SQL statement fails to parse:

[code]

It should parse the same as the following

[code]

[2022-11-20 17:36] AugustoFKL commented on #718
@HaoYang670 created a PR for this: https://github.com/sqlparser-rs/sqlparser-rs/pull/720

[2022-11-20 18:38] AugustoFKL commented on #716
@CorentinLimier https://github.com/sqlparser-rs/sqlparser-rs/pull/721 exclude PR

[2022-11-21 16:40] AugustoFKL commented on #713
@devgony

[code]
This prints:

[code]

I'm pretty sure you can do it externally from the crate, as everything I used is public.

[2022-11-21 16:48] AugustoFKL commented on #687
@unvalley are you working on this already?

I just worked on `EXCLUDE` from snowflake on #721, and it seems like a really similar syntax. I can work on that as well.

[2022-11-21 16:50] AugustoFKL commented on #676
@vidmartin have you started working on this yet?

If not, I can do so.

[2022-11-21 16:57] unvalley commented on #687
@AugustoFKL No, I'm not working on this.

Thanks! That helps a lot.

[2022-11-21 16:59] AugustoFKL commented on #687
Sure, I'll do that then. I just need to have my 5 PRs merged hahaha, otherwise I'll start pilling up conflicts, which I don't have the love of solving.

Once 2 or 3 are merged, I can go on that. Does that work for you?

[2022-11-21 17:01] unvalley commented on #687
@AugustoFKL No problem at all!

[2022-11-23 15:23] AugustoFKL commented on #719
@lovasoa I'm almost sure that the "json_each" expression is not supported.

Sorry for the delay. I'm on vacation, so I'm trying to rest a bit.

I'll get back to you before Friday with possible approaches.

[2022-11-25 09:32] step-baby commented on #303
The latest version of sqlparse still fails to parse SET TIME ZONE 'UTC'

[2022-11-25 10:18] waitingkuo commented on #303
@alamb i think we could reopen this and discuss.
We only support `SET TIME ZONE TO 'UTC'` and `SET TIME ZONE = 'UTC'`
but not `SET TIME ZONE 'UTC'`

i'm not familiar with how other db works, in postgrseql, TIMEZONE is the only variable that support `SET SOMETHING 'VALUE'`
https://www.postgresql.org/docs/current/sql-set.html

[2022-11-27 10:53] alamb commented on #303
Reopened -- I think the typical strategy in these cases is to reflect the difference between `SET TIME ZONE = 'UTC'`
and `SET TIME ZONE 'UTC'` in the ast and then downstream systems can figure out if they want to treat them equivalently or not

[2022-11-27 12:29] alamb commented on #615
Closed by https://github.com/sqlparser-rs/sqlparser-rs/pull/725

[2022-11-27 12:29] #615 closed

[2022-11-28 06:23] step-baby opened #729 "Postgres: [USING method] does not support index creation."
[code]

The result after the test case is executed：
[code]

[2022-11-28 09:49] waitingkuo commented on #303
@alamb i updated the pr

[2022-11-28 21:16] #303 closed

[2022-11-29 11:28] zidaye opened #733 "Postgres: [pg on conflict method] does not support 'where' condition."
[code]
The result after the test case is executed：
[code]

version:   main [branch]

[2022-11-29 11:37] zidaye commented on #733
pr #735

[2022-11-30 12:04] aljazerzen commented on #18
We use the SQL writer for [PRQL](https://github.com/prql/prql) and it does work well, but not for dialects as you pointed out. So we have code on our side that checks how idents should be quoted and whether TOP or LIMIT should be used.

So I consider sqlparser-rs to have an SQL writer, just not SQL dialect translator. So this issue could be closed.

All that said, I came here looking for a fix on